html,
body
  +size($w: 100%, $h: 100%)
  margin: 0
  padding: 0
  +fs($fm: 'FakePearl-Regular', $c: #000000, $lh: 1)
  letter-spacing: 1px

ul
  list-style: none
  margin: 0
  padding: 0

figure
  margin: 0

img
  +size($w: 100%, $h: auto)
  max-width: 100%
  max-height: 100%

button,
video
  outline: none

button
  background-color: transparent
  border: none

h1,
h2,
h3,
h4,
h5,
h6
  margin: 0
  padding: 0

a
  text-decoration: none
  color: #000
*
  box-sizing: border-box

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@700&display=swap')

@font-face
  font-family: FakePearl-Regular
  src: url('https://cdn.jsdelivr.net/gh/max32002/FakePearl@1.1/webfont/FakePearl-Regular.woff2') format("woff2"), url('https://cdn.jsdelivr.net/gh/max32002/FakePearl@1.1/webfont/FakePearl-Regular.woff') format("woff")