.flex
  display: flex

.flex--h-reverse
  flex-direction: row-reverse

.flex--v-reverse
  flex-direction: column-reverse

// flow
.flex--row-inline
  flex-flow: row nowrap

.flex--col-inline
  flex-flow: column nowrap

// alignment
.flex--h-between
  justify-content: space-between

.flex--h-around
  justify-content: space-around

.flex--h-center
  justify-content: center

.flex--h-end
  justify-content: flex-end

.flex--v-center
  align-items: center

.flex--v-end
  align-items: flex-end

// distribution
.flex--1
  flex: 1 1 calc(100% / 2)