
.leaf
  +pos($p: absolute)
  background-size: contain
  background-repeat: no-repeat
  &.leaf--1
    +size($w: 50px, $h: 50px)
    +pos($r: -5%, $t: -85%)
    background-image: url('/assets/img/air_mask/img_leaf1.png')
    +respond-to('tablet')
      +size($w: 80px, $h: 80px)
      +pos($l: 10%, $t: 100px, $r: auto)
      margin: auto
  &.leaf--2
    +size($w: 200px, $h: 80px)
    +pos($r: 0, $t: 100%)
    background-image: url('/assets/img/air_mask/img_leaf2.png')
    background-position: right
    +respond-to('tablet')
      +size($w: 300px, $h: 200px)
      +pos($r: -30%, $t: 300px)
  &.leaf--3
    +size($w: 200px, $h: 260px)
    +pos($l: -170px, $t: 120px)
    background-image: url('/assets/img/air_mask/img_leaf3.png')
    +respond-to('tablet')
      +pos($l: -110%, $t: 200px)
      +size($w: 500px, $h: 620px)