// *************************************
//
//   Mixins
//
// *************************************

=fs($fz: null, $c: null, $lh: null, $fw: null, $fm: null)
  font-size: $fz
  color: $c
  line-height: $lh
  font-weight: $fw
  font-family: $fm
  @content

=imgBg($w: null, $h: null, $img-url: null)
  width: $w
  height: $h
  background-image: image-url('#{$img-url}')

=size($w: null, $h: null)
  width: $w
  height: $h
  @content

=pos($p: null, $t: null, $r: null, $b: null, $l: null)
  position: $p
  top: $t
  right: $r
  bottom: $b
  left: $l
  @content

=respond-to($point)
  @if $point == tablet
    @media (min-width: 680px)
       @content
  @else if $point == desktop
    @media (min-width: 1024px)
       @content
  @else if $point == desktop-lg
    @media (min-width: 1366px)
       @content
  @else if $point == desktop-xl
    @media (min-width: 1600px)
       @content