<app-content>
    <app-content-text0 *ngIf="routerDate === '20210505'"></app-content-text0>
    <app-content-text1 *ngIf="routerDate === '20210515'"></app-content-text1>
    <app-content-text2 *ngIf="routerDate === '20211220'"></app-content-text2>
</app-content>