<div class="banner-header" [class.header--white]="place === 'blog'">
  <div class="logo">
    <img src="assets/img/img_logo.svg" alt="" class="img-logo" (click)="goToHomepage()">
  </div>
  <button class="btn-nav" (click)="toggleNav()">
    <img src="assets/img/icon_burger.png" alt="" class="img-nav">
  </button>
  <div class="nav">
    <ul class="nav-list">
      <!-- <li class="nav-item" [class.is-active]="header.currentUrl === 'story'"><a class="nav-link" [class.link--white]="place === 'blog'" (click)="goTo('story')">開發故事</a></li> -->
      <!-- <li class="nav-item" [class.is-active]="header.currentUrl === 'question'"><a class="nav-link" [class.link--white]="place === 'blog'" (click)="goTo('question')">常見問答</a></li> -->
      <li class="nav-item" [class.is-active]="header.currentUrl === 'home'"><a class="nav-link" [class.link--white]="place === 'home'" (click)="goTo('home')">第二代空氣架</a></li>
      <li class="nav-item" [class.is-active]="header.currentUrl === 'maskplus'"><a class="nav-link" [class.link--white]="place === 'maskplus'" (click)="goTo('maskplus')">好加在口罩框</a></li>
      <li class="nav-item" [class.is-active]="header.currentUrl === 'blog'"><a class="nav-link" [class.link--white]="place === 'blog'" (click)="goTo('blog')">選購指南</a></li>
    </ul>
  </div>
  <div class="nav-mobile" *ngIf="isNavOpened">
    <ul class="nav-mobile-list">
      <!-- <li class="nav-mobile-item" [class.is-active]="header.currentUrl === 'story'"><a class="nav-link" (click)="goTo('story')">開發故事</a></li> -->
      <li class="nav-mobile-item" [class.is-active]="header.currentUrl === 'home'"><a class="nav-link" (click)="goTo('home')">第二代空氣架</a></li>
      <li class="nav-mobile-item" [class.is-active]="header.currentUrl === 'maskplus'"><a class="nav-link" (click)="goTo('maskplus')">好加在口罩框</a></li>
      <!-- <li class="nav-mobile-item" [class.is-active]="header.currentUrl === 'question'"><a class="nav-link" (click)="goTo('question')">常見問答</a></li> -->
      <li class="nav-mobile-item" [class.is-active]="header.currentUrl === 'blog'"><a class="nav-link" (click)="goTo('blog')">選購指南</a></li>
    </ul>
  </div>
</div>