@import 'mixin'
@import 'variables'

.banner-header
  +pos($p: relative, $t: 0)
  +size($w: 100vw, $h: 60px)
  display: flex
  align-items: center
  z-index: 1
  padding: 10px 0
  box-shadow: rgb(0 0 0 / 5%) 0px 4px 12px 0px
  &.header--white
    background: rgba(255, 255, 255, .2)
  +respond-to('tablet')
    +pos($p: relative)
  +respond-to('desktop')
    padding: 10px 8%
    &.header--white
      background: rgba(255, 255, 255, .2)

.logo
  // +pos($p: absolute, $l: 4%, $t: 5%)
  +size($w: 60px)
  margin-left: 15px
  cursor: pointer
  +respond-to('desktop')
    +size($w: 84px)
  // +respond-to('desktop-xl')
  //   +pos($p: absolute, $l: 13%, $t: 10%)

.nav
  // +pos($p: absolute, $r: 30px)
  margin-left: auto
  +size($w: 33%, $h: 100%)
  padding-right: 14px
  display: none
  +respond-to('desktop')
    +size($w: 28%)
    display: block
.nav-list
  +size($h: 100%)
  display: flex
  flex-flow: row nowrap
  justify-content: space-between
.nav-item
  display: inline-flex
  align-items: center
  cursor: pointer
  border: 2px solid transparent
  margin: 0 15px
  white-space: nowrap
  &.is-active
    border-bottom: 2px solid #333
.nav-link
  +fs($c: #000000)
  text-decoration: none
  &.link--white
    +fs($c: #ffffff)

.btn-nav
  +size($w: 44px, $h: 44px)
  display: inline-flex
  border: none
  margin-left: auto
  margin-right: 15px
  cursor: pointer
  align-items: center
  justify-content: center
  background: transparent
  +respond-to('desktop')
    display: none

.nav-mobile
  +size($w: 100%)
  +pos($p: absolute, $t: 60px)
  background-color: #efefef
  z-index: 2
  padding: 30px 0
  .nav-link
    padding: 30px 40px
  +respond-to('desktop')
    display: none
.nav-mobile-item
  display: block
  padding: 25px
  text-align: center