<div class="wrapper">
  <section class="section">
    <div class="faq-header">
      <app-header></app-header>
      <!-- attention -->
      <section class="section section--attention">
        <div class="attention section-containter">
          <h1 class="attention-title">
            致認真戴口罩<br>
            守護健康的您
          </h1>
          <p class="attention-subTitle">好家在有好加在，戴口罩更輕鬆自在</p>
        </div>
      </section>
    </div>
    <div class="page">
      <div class="page-container">
        <h1 class="page-title">FAQ</h1>

        <div class="accordion">
          <div class="accordion-wrap" (click)="open(0)" [class.is-active]="currentIdx === 0">
            <div class="accordion-title">口罩密合度?
            <span class="accordion-plus"></span>
            </div>
            <div class="accordion-content">
              <ol class="accordion-ol">
                <li class="accordion-li">因人而異</li>
                <li class="accordion-li">口罩架的設計是將口罩的兩側開口以掛勾方式減少原本產生的空隙，請自行對照使用前後有能夠縮小縫</li>
              </ol>
            </div>
          </div>
          <div class="accordion-wrap" (click)="open(1)" [class.is-active]="currentIdx === 1">
            <div class="accordion-title">口罩掛勾?<span class="accordion-plus"></span></div>
            <div class="accordion-content">
              <ol class="accordion-ol">
                <li class="accordion-li">掛不起來 請確認是否為一般平面口罩的規格，一般平面口罩內側摺痕為朝上，間距為____公分</li>
                <li class="accordion-li">不好掛，可以用不同的安裝對策，請先把兩邊先勾好繩子，拉到底，再兩側一起把掛鉤滑進口罩夾層，這樣的步驟可以讓兩側掛勾一起勾比較順手</li>
                <li class="accordion-li">勾繩的問題---洞口很淺是因為要利用掛繩的彈性擠進洞才不會容易脫落</li>
                <li class="accordion-li">掛勾容易鬆開，請將兩側掛好，繩子拉到底與口罩密合(圖)，上緣折起來(圖)，確實做好步驟後戴上，就會發現口罩勾好了不會掉</li>
              </ol>
            </div>
          </div>
          <div class="accordion-wrap" (click)="open(2)" [class.is-active]="currentIdx === 2">
            <div class="accordion-title">小臉福音<span class="accordion-plus"></span></div>
            <div class="accordion-content">
              <figure>
                <img src="assets/img/img_blog_content_1_2.jpg" alt="" class="img-content">
              </figure>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<app-footer></app-footer>

<!-- 口罩密合度
1. 因人而異
2. 口罩架的設計是將口罩的兩側開口以掛勾方式減少原本產生的空隙，請自行對照使用前後有能夠縮小縫隙

口罩掛勾
1. 掛不起來 請確認是否為一般平面口罩的規格，一般平面口罩內側摺痕為朝上，間距為____公分
2. 不好掛，可以用不同的安裝對策，請先把兩邊先勾好繩子，拉到底，再兩側一起把掛鉤滑進口罩夾層，這樣的步驟可以讓兩側掛勾一起勾比較順手
3. 勾繩的問題---洞口很淺是因為要利用掛繩的彈性擠進洞才不會容易脫落

4. 掛勾容易鬆開，請將兩側掛好，繩子拉到底與口罩密合(圖)，上緣折起來(圖)，確實做好步驟後戴上，就會發現口罩勾好了不會掉

小臉福音
小臉使用貼上Lynn的圖 -->