@import 'mixin'
@import 'variables'

.blog
  +pos($p: relative)
  display: flex
  min-height: 280px
  background-color: #efefef
  // padding: 1% 0 0
  +respond-to('tablet')
    min-width: 400px
    min-height: 360px
  // &::before
  //   +size($w: 100%, $h: 70px)
  //   +pos($p: absolute, $l: 0, $r: 0, $b: -5%)
  //   content: ''
  //   background: linear-gradient(rgba(255,255,255,0) 0% , #ffffff 70%)
  //   z-index: 1
  &::after
    +size($w: 100%, $h: 100%)
    +pos($p: absolute, $l: 0, $r: 0, $b: 0)
    display: block
    content: ''
    background-image: url('/assets/img/img_banner_blog.jpg')
    background-size: cover
    background-position: center 60%
    background-repeat: no-repeat

.faq-header
  +size($w: 100%)
  +pos($p: relative)

// attention
.attention
  +pos($p: relative)
  text-align: center
  padding-top: 80px
  +respond-to('tablet')
    padding-top: 0
  &::before
    +pos($p: absolute, $l: 0, $r: 0)
    content: 'MASK+'
    +fs($fz: 15vh, $fw: bold, $fm: 'Arial')
    letter-spacing: 3px
    margin: 0 auto
    opacity: 0.06
    +respond-to('desktop')
      +fs($fz: 33vh)
.attention-title
  +fs($fz: $fm-xl, $lh: 1.5)
  letter-spacing: 6px
  margin-bottom: 40px
  +respond-to('tablet')
    +fs($fz: $f-l)
    margin-top: 30px
  +respond-to('desktop')
    +fs($fz: $f-xl)
    margin-bottom: 80px
.attention-subTitle
  +pos($p: relative)
  +fs($fz: $fm-m)
  letter-spacing: 2.2px
  padding-bottom: 40px
  +respond-to('tablet')
    +fs($fz: $f-xs)
  +respond-to('desktop')
    +fs($fz: $f-m)
  &::before
    +pos($p: absolute, $l: 0, $r: 0, $b: 0)
    content: ''
    +size($w: 60px, $h: 2px)
    background-color: $c-golden
    margin: 0 auto
.attention-caption
  +fs($fz: 13px, $lh: 2.5, $fm: '微軟正黑體')
  letter-spacing: 3px
  padding: 0 10%
  margin-top: 35px
  +respond-to('tablet')
    +fs($fz: $f-xss)
    padding: 0 28%
  +respond-to('desktop')
    +fs($fz: $f-xs)
  +respond-to('desktop-lg')
    +fs($fz: $f-s)

.page
  padding-bottom: 80px
  display: flex
  justify-content: center

.page-container
  display: flex
  max-width: 540px
  flex-flow: column nowrap
  +respond-to('desktop')
    flex-flow: row nowrap

.page-title
  text-align: center
  margin: 30px 0
  +respond-to('desktop')
    margin: 0

// accordion
.accordion
  +fs($fm: 'Noto Serif TC')
  margin: 0 auto
  padding: 0 15px
  +respond-to('tablet')
    max-width: 680px

.accordion-wrap
  min-height: 46px
  overflow: hidden
  margin-bottom: 20px
  border-bottom: dotted
  border-color: gray
  border-width: 2.5px
  &.is-active
    & > .accordion-content
      max-height: 100vh
    .accordion-plus
      &::before
        content: '-'

.accordion-ol
  margin: 0

.accordion-li
  +fs($lh: 1.6)
  margin-bottom: 20px

.accordion-title
  display: flex
  padding: 0 30px 0 16px
  min-height: 48px
  justify-content: space-between
  cursor: pointer
  +fs($fz: 20px)

.accordion-content
  max-height: 0
  padding: 0px 16px
  transition: max-height .6s cubic-bezier(0.1, 1.05, 0, 1)

.accordion-plus
  &::before
    +fs($fz: 18px, $fw: bold)
    content: '+'
