<img src="assets/img/img_blog_content_0.jpg" alt="">
<h1 class="page-title">愛情、事業大突破! 2021口罩開運密笈</h1>
<div class="page-body">
  <p id="9a4d870b-650b-49c8-9354-3a6a3d2a9724" class="">2020大家都辛苦了喔~ (唐老師語氣)，我們台灣在防疫的成績有非常好的維持，大家的口罩的生活還滿意嗎?
    除了呼吸有夠悶以外，口罩能帶來什麼好運呢? 我們一起來看看</p>
  <ul id="e8328f75-7e31-4237-b78f-808d5b8ec8e5" class="numbered-list" start="1">
    <li>戴口罩時，臉皮變厚了</li>
  </ul>
  <figure>
    <img src="assets/img/img_blog_content_0_0.jpg" alt="" class="img-content">
  </figure>
  <p id="726aa5c3-cdc7-42cd-ac57-cfaabfd76f02" class="">有沒有發現到，戴口罩時我們能夠比較勇敢講出內心的話呢?
    原本被生活上有些被陌生人干擾到，或著想要向人說話時都不太好意思表達自己的意見，我們現在戴著口罩，都很容易表達自己捍衛自己了，比方說[ 拜託請不要插隊好嗎?] 或著說 [ 不好意思，可以麻煩幫我填寫這個表格嗎? ]
    都變得比較容易說出口。我們變得比較容易發出請求，或是捍衛自己的權益。</p>
  <p id="0a7e4f97-2cd0-4308-9181-aa93fa31c93c" class="">在人際上，或許也比較容易對欣賞的人搭話了喔，和喜歡的人可以有比較輕鬆的對話了。</p>

  <ul id="cf1aef86-7d59-4ad0-bbc3-e8ecb2c64ed1" class="numbered-list" start="1">
    <li>戴口罩時，有時間去做醫美了</li>
  </ul>
  <figure>
    <img src="assets/img/img_blog_content_0_1.jpg" alt="" class="img-content">
  </figure>
  <p id="b30c07cd-5cf6-46fc-a1c4-10efb2b084c3" class="">因為自己默默地跑去做醫美了，不想跟大家說，平常的時候，戴口罩別人還以為你是生病了嗎?<br>
    現在是大好時機，何不趁現在可以遮著臉，也不用化太多妝，充實自己的美麗呢? 在哪一天跟喜歡的人去吃飯的時候，拿下口罩，對方就會發現你怎麼更美了呢?</p>
  <ul id="cf1aef86-7d59-4ad0-bbc3-e8ecb2c64ed1" class="numbered-list" start="1">
    <li>戴口罩時，更惜字如金了</li>
  </ul>
  <figure>
    <img src="assets/img/img_blog_content_0_2.jpg" alt="" class="img-content">
  </figure>
  <p id="21fd3d8d-ff8a-4a16-b631-203d66cbaba3" class="">
    發現原本自己的口腔也會有味道的啊! 以前都不這麼覺得，可能是飲食要調整，可能是太疲勞火氣大，可能是體內濕氣太多，諸如此類。變得想要調整飲食，調整作息，吃的比較清淡或是要好好的刷牙。
    <br><br>綜合以上的觀點來看，戴口罩會讓我們更懂得愛護自己，多照顧自己，在事業上懂得拒絕或著懂得要求，在人際上會更有勇氣或是臉皮跟想講話的人講話，也更加重視身體內部的保養，身心靈似乎都得到了提升，運勢當然會變好囉!
  </p>
  <p>
    然而戴口罩還是很悶，還會長痘痘怎麼辦? 這樣不是頭腦更不清醒，顏值又下降了嗎?<br>2021口罩升級攻略，讓你戴著口罩，不只呼吸順暢，頭腦更清晰，運勢更加提升!
  </p>
</div>

<span class="btn-back" (click)="goBack()">< 回上一頁</span>