
@import 'variables'
@import 'mixin'

.page-title
  +fs($fz: 24px, $fm: 'Noto Serif TC')
  margin: 40px 0
  letter-spacing: 2.2px
  line-height: 36px
  +respond-to('tablet')
    +fs($fz: 32px)

.page-body
  +fs($fz: 14px, $lh: 26px, $fm: '微軟正黑體')
  letter-spacing: 2.2px
  +respond-to('tablet')
    +fs($fz: 18px, $lh: 32px)

.btn-back
  margin-top: 60px
  display: block
  cursor: pointer

.ol-list
  line-height: 30px
  & > li
    margin: 30px 0 40px
.ol-alpha
  list-style: upper-alpha
.link
  text-decoration: underline