<img href="assets/img/img_blog_content_2.jpg" alt="">
<h1 class="page-title">小測驗！找出你適合哪一款 MASK+ 口罩空氣架？</h1>
<div class="page-body">
  <div id="21fd3d8d-ff8a-4a16-b631-203d66cbaba3" class="">
    <p>您可以透過下面的問題，來找出自己適合什麼樣的口罩空氣架喔！</p>
    <ol class="ol-list">
      <li>您是否需要長時間戴口罩？
        <ol class="ol-alpha">
          <li>是 - 前往第2題</li>
          <li>否 - 前往第3題</li>
        </ol>
      </li>
      <li>您平常戴口罩是否感覺難以呼吸、胸悶頭暈？
        <ol class="ol-alpha">
          <li>是 - 前往第5題</li>
          <li>否 - 前往第3題</li>
        </ol>
      </li>
      <li>您是否因為口罩摩擦臉部或嘴部肌膚容易感到不適？
        <ol class="ol-alpha">
          <li>是，不喜歡摩擦的感覺、容易長痘痘 - 前往第5題</li>
          <li>否 - 前往第4題</li>
        </ol>
      </li>
      <li>您的臉是否比起一般人來的小(您是小臉人)？
        <ol class="ol-alpha">
          <li>是 - 您適合<a class="link" href="/home">【第二代好加在空氣架】</a></li>
          <li>否 - 前往第5題</li>
        </ol>
      </li>
      <li>您是屬於下列哪種？
        <ol class="ol-alpha">
          <li>鼻樑高挺 - 您適合<a class="link" href="/maskplus">【第一代好加在口罩框】</a></li>
          <li>小巧鼻 - 您適合<a class="link" href="/home">【第二代好加在空氣架】</a></li>
        </ol>
      </li>
    </ol>
  </div>
</div>

<span class="btn-back" (click)="goBack()">< 回上一頁</span>