<footer class="footer">
  <div class="footer-container footer--desktop">
    <div class="footer-contact">
      <span> 服務電話: 0967-090-449 </span>
      <span> 服務時間: (一)~(五) 09:00-18:00 </span>
      <span> MASK+ © 2021 </span>
    </div>
    <div class="footer-social">
      <a href="https://bit.ly/2TizneW" target="_blank" class="btn-fb fb--desktop"></a>
    </div>
  </div>
  <div class="footer-container footer--mobile">
    <div class="footer-contact">
      <span> 服務電話: 0967-090-449 </span><br>
      <span> 服務時間: (一)~(五) 09:00-18:00 </span><br>
      <span> MASK+ © 2021 </span>
    </div>
    <div class="footer-social">
      <a href="https://bit.ly/2TizneW" target="_blank" class="btn-fb fb--mobile"></a>
    </div>
  </div>
</footer>