@import 'mixin'
@import 'variables'

// footer
.footer
  +fs($fz: 13px)
  +pos($p: fixed, $b: 0)
  +size($w: 100%)
  background-color: $c-darkPurple
  padding: 6px
  +fs($c: #eeeeee)
  z-index: 1
  +respond-to('tablet')
    padding: 15px

.footer-container
  +size($w: 80%)
  margin: 0 auto
  display: flex
  justify-content: space-between
  align-items: center
  &.footer--desktop
    display: none
    +respond-to('tablet')
      display: flex
      text-align: center
  &.footer--mobile
    +respond-to('tablet')
      display: none

.footer-social
  +size($w: 26px, $h: 26px)
  background: #2374e1
  border-radius: 4px
  display: flex
  align-items: center
  justify-content: center

.btn-fb
  +size($w: 20px, $h: 20px)
  background-repeat: no-repeat
  background-image: url('/assets/img/icon_fb.svg')