@import 'mixin'
@import 'variables'

$f-xl: 66px
$f-l: 44px
$f-m: 32px
$f-ms: 22px
$f-s: 18px
$f-xs: 16px
$f-xss: 14px

$fm-xl: 40px
$fm-l: 32px
$fm-m: 18px
$fm-s: 14px


// ==========================
//   Scaffolding
// ==========================

.wrapper
  +size($w: 100%)
  min-height: 100%
  background-color: #efefef
  overflow: hidden

.section
  +size($w: 100%)
  margin-bottom: 20px
  +respond-to('desktop-lg')
    min-height: 770px
  &:not(:first-child)
    padding: 40px 0
    +respond-to('desktop-lg')
      padding: 120px 0
  &.section--banner
    padding: 8% 0 30px
    +pos($p: relative)
    +respond-to('tablet')
      padding: 0
    +respond-to('desktop')
      padding: 1% 0 0
      min-height: 500px
    &::before
      +size($w: 100%, $h: 60px)
      +pos($p: absolute, $l: 0, $r: 0, $b: -5%)
      content: ''
      background: linear-gradient(rgba(255,255,255,0) 0% , #ffffff 70%)
      z-index: 1
      +respond-to('tablet')
        +pos($b: -10%)
        +size($h: 150px)
  &.section--problem
    background-color: #ffffff
  &.section--nosepad
    background-color: $c-darkPurple
  &.section--fold
    background-color: $c-darkPurple
    +respond-to('desktop')
      padding: 0
  &.section--video
    padding: 0
  &.section--buy
    padding: 0
    +respond-to('desktop')
      padding: 0 0 120px 0
  &.section--mit
    padding: 0
.section-containter
  +respond-to('desktop')
    max-width: 960px
    margin: 0 auto
  +respond-to('desktop-lg')
    max-width: 1200px
  &.banner
    +respond-to('desktop')
      min-height: auto
  &.problem
    +respond-to('desktop-lg')
      max-width: 1000px

// ==========================
//   Components
// ==========================

// banner
.logo
  // +pos($p: absolute, $l: 4%, $t: 5%)
  +size($w: 60px)
  margin-left: 15px
  +respond-to('desktop')
    +size($w: 84px)
  // +respond-to('desktop-xl')
  //   +pos($p: absolute, $l: 13%, $t: 10%)

.nav
  // +pos($p: absolute, $r: 30px)
  margin-left: auto
  +size($w: 33%)
  padding-right: 14px
  display: none
  +respond-to('desktop')
    +size($w: 28%)
    display: block
.nav-list
  display: flex
  flex-flow: row nowrap
  justify-content: space-between
.nav-item
  display: inline-block
.nav-link
  +fs($c: #000000)
  text-decoration: none

.btn-nav
  +size($w: 44px, $h: 44px)
  display: inline-flex
  border: none
  margin-left: auto
  margin-right: 15px
  cursor: pointer
  align-items: center
  justify-content: center
  +respond-to('desktop')
    display: none

.nav-mobile
  +size($w: 100%)
  +pos($p: absolute, $t: 56px)
  background-color: #efefef
  z-index: 2
  padding: 30px 0
  .nav-link
    padding: 30px 40px
  +respond-to('desktop')
    display: none
.nav-mobile-item
  display: block
  padding: 25px
  text-align: center

.banner
  display: flex
  flex-flow: column-reverse nowrap
  padding-top: 20px
  +respond-to('tablet')
    display: block
.banner-header
  +pos($p: absolute, $t: 10px)
  +size($w: 100vw)
  display: flex
  align-items: center
  z-index: 1
  +respond-to('tablet')
    +pos($p: relative)
.model
  padding: 0 10%
  +pos($p: relative)
  &::before
    +size($w: 100%, $h: 40px)
    +pos($p: absolute, $l: 0, $r: 0, $b: -40px)
    content: ''
    background: linear-gradient(rgba(255,255,255,0) 0% , $c-gray 90%)
    z-index: 1
    +respond-to('tablet')
      display: none
  +respond-to('tablet')
    display: inline-block
    +size($w: calc(100% - 40%))
    margin-left: -40px
    padding: 0
  +respond-to('desktop')
    margin-left: -7%

.img-model
  position: relative
  top: 30px

.slogan
  text-align: center
  +respond-to('tablet')
    +size($w: 40%)
    +pos($p: relative)
    display: inline-block
    z-index: 1
    padding-left: 10%
    text-align: left
    vertical-align: bottom
  +respond-to('desktop')
    padding-left: 15%
    margin-bottom: 3%
  +respond-to('desktop-xl')
    padding-left: 20%
    margin-bottom: 8%
.slogan-title
  +fs($fz: 32px)
  margin: 80px 0 16px
  letter-spacing: 3px
  +respond-to('desktop')
    +fs($fz: 44px)
  // +respond-to('desktop-lg')
  //   +fs($fz: 66px)
.slogan-title-span
  +fs($fz: 18px)
  vertical-align: middle
  letter-spacing: 1px
  margin-left: 4px
  +respond-to('desktop')
    +fs($fz: 22px)
  // +respond-to('desktop-lg')
  //   +fs($fz: 32px)
.slogan-maskPlus
  +fs($fz: 42px, $fm: 'Arial')
  margin-bottom: 10px
  letter-spacing: 1px
  +respond-to('desktop')
    +fs($fz: 66px)
  // +respond-to('desktop-lg')
  //   +fs($fz: 100px)
.slogan-caption
  +fs($fz: 20px, $fm: 'Arial', $fw: 300)
  letter-spacing: 6px
  white-space: nowrap
  +respond-to('tablet')
    +fs($fz: 16px)
  +respond-to('desktop')
    +fs($fz: 22px)
  // +respond-to('desktop-lg')
  //   +fs($fz: 30px)

.btn-buy
  display: flex
  align-items: center
  justify-content: center
  margin: 24px auto 20px
  font-size: 18px
  color: #ffffff
  background-color: #cc2e59
  text-align: center
  border-radius: 6px
  letter-spacing: 2px
  border: none
  padding: 10px 30px
  cursor: pointer
  min-width: 162px
  +size($w: 162px)
  +respond-to('tablet')
    margin: 40px 0 20px
  +respond-to('desktop-lg')
    +fs($fz: 22px)
  &.buy--shopee
    margin: 0 auto
    background: linear-gradient(-180deg,#f53d2d,#f63)
    a
      +fs($c: #ffffff)
    +respond-to('tablet')
      display: none
  &.buy--footer
    +size($w: 100%)
    &.buy--shopee
      display: block
      +respond-to('desktop')
        +fs($fz: 30px)

.btn-quickBuy
  +pos($p: fixed, $b: 50px)
  +size($w: 100%, $h: 44px)
  +fs($c: #ffffff)
  padding: 0
  background: linear-gradient(-180deg, #f53d2d, #f63)
  z-index: 1
  transition: transform .4s ease
  transform-origin: 0 0
  transform: translateY(100%)
  cursor: pointer
  &.is-show
    transform: translateY(0)
  +respond-to('desktop')
    display: none

// problem
.problem
  +respond-to('tablet')
    display: flex
.problemText
  +fs($fz: 24px, $lh: 2)
  text-align: center
  letter-spacing: 1px
  margin-bottom: 40px
  +respond-to('tablet')
    +fs($fz: $f-xs)
  +respond-to('desktop')
    +fs($fz: $f-m)
.problem-col
  text-align: center
.problem-flex
  display: flex
  .img-problem
    +size($w: 80%)
.problem-title
  +fs($fz: $fm-m)
  +respond-to('tablet')
    +fs($fz: $f-xs)
  +respond-to('desktop')
    +fs($fz: $f-m)
.img-problem
  +size($w: 41%)
  margin: 0 auto
  display: block
  +respond-to('tablet')
    +size($w: 68%)
.problem-caption
  +fs($fz: $fm-m, $lh: 55%)
  flex: 1 1 100%
  display: inline-block
  padding: 0 5%
  +respond-to('desktop')
    +fs($fz: $f-s)
  +respond-to('desktop-lg')
    +fs($fz: $f-m)
  &.caption--pink
    background-color: $c-pink
  &.caption--blue
    background-color: $c-blue

// attention
.attention
  text-align: center
  +pos($p: relative)
  margin-bottom: 10%
  &::before
    +pos($p: absolute, $b: 0, $l: 0, $r: 0)
    content: 'MASK+'
    +fs($fz: 13vh, $fw: bold, $fm: 'Arial')
    letter-spacing: 3px
    margin: 0 auto
    opacity: 0.06
    transform: translateY(50%)
    +respond-to('desktop')
      +fs($fz: 33vh)
.attention-title
  +fs($fz: $fm-xl, $lh: 1.5)
  letter-spacing: 6px
  margin-bottom: 40px
  +respond-to('tablet')
    +fs($fz: $f-m)
  +respond-to('desktop-lg')
    +fs($fz: $f-xl)
    margin-bottom: 80px
.attention-subTitle
  +pos($p: relative)
  +fs($fz: $fm-m)
  letter-spacing: 2.2px
  padding-bottom: 40px
  +respond-to('tablet')
    +fs($fz: $f-xs)
  +respond-to('desktop')
    +fs($fz: $f-s)
  +respond-to('desktop-lg')
    +fs($fz: $f-m)
  &::before
    +pos($p: absolute, $l: 0, $r: 0, $b: 0)
    content: ''
    +size($w: 60px, $h: 2px)
    background-color: $c-golden
    margin: 0 auto
.attention-caption
  +fs($fz: 13px, $lh: 2.5, $fm: '微軟正黑體')
  letter-spacing: 3px
  padding: 0 10%
  margin-top: 35px
  +respond-to('tablet')
    +fs($fz: $f-xss)
    padding: 0 28%
  +respond-to('desktop')
    +fs($fz: $f-xs)
  +respond-to('desktop-lg')
    +fs($fz: $f-s)

// skeleton
.skeleton
  display: flex
  flex-flow: column-reverse nowrap
  +respond-to('tablet')
    flex-flow: row nowrap
    justify-content: center
    align-items: center
  +respond-to('desktop')
    justify-content: space-evenly
.space
  padding: 0 20%
  +pos($p: relative)
  +respond-to('tablet')
    flex: 0 0 calc(50% - 40px)
    padding: 0
  +respond-to('desktop')
    justify-content: space-evenly
    flex: 0 0 calc(50% - 12%)
  &::before,
  &::after
    +size($w: 100%, $h: 100%)
    +pos($p: absolute, $l: 0, $t: 0, $r: 0)
    content: ''
    display: block
    background-size: contain
    background-repeat: no-repeat
    background-position: center
    z-index: 1
  &::before
    opacity: 0
    transition: opacity 1s ease
    background-image: url('/assets/img/img_space_on.png')
  &::after
    background-image: url('/assets/img/img_space_dot.png')
    opacity: 0
  &.is-play
    &::before
      opacity: 1
    &::after
      animation: ani-fade-in-out 1.2s ease infinite

.breath
  +pos($p: relative)
  &::before,
  &::after
    +size($w: 0, $h: 100%)
    margin-left: -2px
    +pos($p: absolute, $t: 0)
    content: ''
    display: block
    background-size: cover
    transition: width 6s ease
  &::before
    background-image: url('/assets/img/img_3d_white_line.svg')
  &::after
    background-image: url('/assets/img/img_3d_blue_line.svg')
  &.is-play
    &::before,
    &::after
      +size($w: 100%)
      +pos($t: 2px)
    &::after
      transition-delay: 1s
    .img-airflow.img--airflow::before
      +size($h: 98%)
.img-airflow
  &.img--airflow
    +pos($p: absolute, $t: 0)
    +size($w: 100%, $h: 100%)
      &::before
        +pos($p: absolute)
        +size($w: 100%, $h: 0)
        content: ''
        background-image: url('/assets/img/img_3d_air_flow.svg')
        background-repeat: no-repeat
        background-size: cover
        transition: height 1.6s ease
        transition-delay: 3s

// nosepad
.nosepad
  +respond-to('tablet')
    display: flex
  +respond-to('desktop')
    align-items: center
    justify-content: space-evenly

// sgs
.sgs
  +respond-to('tablet')
    display: flex
    align-items: center
  +respond-to('desktop')
    align-items: center
    justify-content: space-evenly
.sgs-list
  list-style-position: inside
  padding: 0
  text-align: left
.sgs-item
  margin-bottom: 10px

.reportSGS
  +pos($p: relative)
  padding: 0 15%
  +respond-to('tablet')
    padding: 0 0 0 5%
  &::before
    content: ''
    +pos($p: absolute)
    +size($w: 72%, $h: 108%)
    background-color: #ffffff
    margin-left: -3%
    margin-top: -3%
    +respond-to('tablet')
      +size($w: 90%)

.img-report-sgs
  +size($w: 90%)
  +pos($p: relative)

// feature
.feature
  display: flex
  flex-flow: column nowrap
  align-items: center
  text-align: center
  +respond-to('tablet')
    flex-flow: row nowrap
    align-items: flex-start
    padding: 0 5%
.img-feature
  border-radius: 20px 20px 0 0
  +size($w: 100%)
.feature-col
  +fs($fz: 0)
  margin: 0 auto 10%
  padding: 0 12%
  border-radius: 0 0 20px 20px
  &:last-child
    margin-right: 0
  +respond-to('tablet')
    padding: 0
    margin-right: 15px
    flex: 1 1 calc(100% / 3 - 10px)
  +respond-to('desktop-lg')
    margin-right: 40px
    flex: 1 1 calc(100% / 3 - 20px)

.feature-text
  padding: 22% 0 12%
  background-color: #e2e0dc
  border-radius: 0 0 20px 20px
  +respond-to('tablet')
    min-height: 360px
  align-items: center
.feature-title
  +fs($fz: $fm-m, $fm: '微軟正黑體')
  letter-spacing: 1px
  +respond-to('desktop')
    +fs($fz: $f-ms)
.feature-caption
  +fs($fz: $fm-s, $fm: '微軟正黑體', $lh: 2.5)
  margin-top: 15px
  padding: 0 15%
  border-radius: 0 0 20px 20px
  letter-spacing: 1px
  +respond-to('tablet')
    padding: 0 10%
  +respond-to('desktop')
    +fs($fz: $f-xs)

// fold
.fold
  +respond-to('tablet')
    display: flex
  +respond-to('desktop')
    +fs($fz: 0)
    align-items: center
    justify-content: space-evenly
.fold-pic
  padding: 0 15%
  +respond-to('tablet')
    padding: 0 5%

// lighten
.lighten
  +respond-to('tablet')
    display: flex
    flex-flow: row-reverse nowrap
    align-items: center
  .article
    +respond-to('desktop')
      padding: 0 8%
      margin-left: 12%
.lighten-pic
  padding: 0 6%
  +respond-to('tablet')
    padding: 0
  +respond-to('desktop')
    margin-left: -18%
.img-lighten
  transform: rotate(15deg)

// install
.installText
  +fs($fz: $fm-l)
  margin-bottom: 40px
  text-align: center
  +respond-to('desktop')
    +fs($fz: $f-m)
.install
  display: flex
  flex-flow: column nowrap
  align-items: center
  text-align: center
  +respond-to('tablet')
    flex-flow: row nowrap
    align-items: flex-start
    padding: 0 5%
.img-install
  border-radius: 20px 20px 0 0
.install-col
  +fs($fz: 0)
  margin: 0 auto 10%
  padding: 0 12%
  border-radius: 0 0 20px 20px
  &:last-child
    margin-right: 0
  +respond-to('tablet')
    padding: 0
    margin-right: 15px
    flex: 1 1 calc(100% / 3 - 10px)
  +respond-to('desktop-lg')
    margin-right: 40px
    flex: 1 1 calc(100% / 3 - 20px)
.install-text
  padding: 12% 0
  background-color: #e2e0dc
  border-radius: 0 0 20px 20px
  +respond-to('tablet')
    min-height: 354px
  +respond-to('desktop')
    min-height: 430px
.install-title
  +fs($fz: $fm-l)
  letter-spacing: 1px
.install-caption
  +fs($fz: $fm-s, $fm: '微軟正黑體', $lh: 2)
  margin-top: 15px
  padding: 0 15%
  border-radius: 0 0 20px 20px
  letter-spacing: 1px
  +respond-to('desktop')
    +fs($fz: $f-xs)
.img-step-2-inside
  margin: 20px auto
  padding: 0 10px

// video
.video-mainTitle
  +fs($fz: $fm-l)
  margin-bottom: 40px
  text-align: center
  +respond-to('desktop')
    +fs($fz: $f-m)
.video-iframe
  text-align: center
  position: relative
  padding-bottom: 56.25%
  height: 0
  overflow: hidden
  iframe,
  object,
  embed
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%

// mit
.mit
  text-align: center
  &::after
    content: 'MASK+'
    +fs($fz: 13vh, $fw: bold, $fm: 'Arial')
    letter-spacing: 3px
    margin: 0 auto
    opacity: 0.06
    +respond-to('desktop-lg')
      +fs($fz: 33vh)
  .article
    +respond-to('tablet')
      text-align: center
      padding: 0
  .article-title
    +respond-to('tablet')
      +fs($fz: $f-m)
    +respond-to('desktop')
      +fs($fz: $f-l)
    &::before
      +respond-to('tablet')
        +pos($r: 0)
  .article-caption
    +size($w: 100%)
    +respond-to('tablet')
      +fs($fz: $f-xs)
    +respond-to('desktop')
      +fs($fz: $f-m)


// feedback
.feedback-column
  +size($w: 100%)
  +respond-to('tablet')
    +size($w: 50%)
    display: inline-block
    vertical-align: top
    margin-top: 20px
  &:nth-child(2)
    margin-top: 20px
.img-feedback
  display: inline-block
  vertical-align: top

// buy
.buy
  padding: 0 10% 90px
  +respond-to('desktop')
    display: flex
    flex-flow: row nowrap
    justify-content: space-evenly
    padding: 0 2%
.buy-gallery
  margin-bottom: 20px
  +respond-to('desktop')
    margin-right: 60px
    max-width: 50%
.buy-thumbnail
  +size($w: 100%)
  flex-flow: row wrap
  margin-bottom: 20px
  justify-content: flex-start
.buy-gallery-figure
  max-width: 600px
  margin-bottom: 10px
.buy-title
  +fs($fz: $fm-l)
  margin: 40px 0
  +respond-to('tablet')
    +fs($fz: $f-m)
  +respond-to('desktop-lg')
    +fs($fz: $f-l)
.buy-title-maskplus
  +fs($fm: 'Arial')
.buy-subTitle
  +fs($fz: $fm-m)
  letter-spacing: 1px
  +respond-to('tablet')
    +fs($fz: $f-xs)
  +respond-to('desktop-lg')
    +fs($fz: $f-m)
.buy-caption
  +fs($fz: $fm-s, $fm: '微軟正黑體', $lh: 1.8)
  letter-spacing: 1px
  +respond-to('tablet')
    +fs($fz: $f-xss)
  +respond-to('desktop-lg')
    +fs($fz: $f-s)
.thumbnail
  +pos($p: relative)
  +size($w: 60px, $h: 60px)
  margin: 0 6px 10px 0
  cursor: pointer
  display: flex
  align-items: center
  &::before
    +pos($p: absolute)
    content: ''
    background-color: rgba(255, 255, 255, .6)
    +size($w: 100%, $h: 100%)
    opacity: 1
    transition: opacity .3s ease
  &.is-active
    &::before
      opacity: 0

.buy-checkout
  +fs($fz: $fm-m, $c: #ffffff)
  +size($w: 100%)
  background-color: #cc2e59
  text-align: center
  border-radius: 6px
  margin: 30px auto
  letter-spacing: 2.2px
  padding: 20px 30px
  display: flex
  justify-content: center
  align-items: center
  cursor: pointer
  +respond-to('desktop')
    +fs($fz: 30px)

.buy-amount
  +fs($fz: 36px, $c: #cc2e59)
  +respond-to('tablet')
    +fs($fz: 40px)

.buy-freeShipping
  +fs($fz: $fm-m, $c: #cc2e59)
  +respond-to('tablet')
    +fs($fz: 28px)
  .freeShipping-caption
    +fs($fz: 16px, $c: #666666)


// article 特色文案
.article
  text-align: center
  padding: 0 13%
  &.article--dark
    +fs($c: #ffffff)
  +respond-to('tablet')
    text-align: left
    flex: 0 0 40%
    padding: 0 0 0 8%
  &.article--right
    +respond-to('tablet')
      padding: 0 8% 0 0
.article-title
  +pos($p: relative)
  +fs($fz: $fm-l, $fw: 300, $lh: 1.8)
  padding: 40px 0
  letter-spacing: 3px
  white-space: nowrap
  margin: 0 -15%
  +respond-to('tablet')
    margin: auto
  +respond-to('desktop')
    +fs($fz: $f-m)
    letter-spacing: 2.2px
  +respond-to('desktop-lg')
    +fs($fz: $f-l)
  &::before
    +pos($p: absolute, $l: 0, $r: 0, $b: 0)
    content: ''
    +size($w: 60px, $h: 2px)
    background-color: $c-golden
    margin: 0 auto
    +respond-to('tablet')
      +pos($r: auto)
    +respond-to('desktop')
      +size($w: 100px)
.article-subTitle
  +fs($fz: $fm-m)
  letter-spacing: 2.2px
  margin-top: 50px
  white-space: nowrap
  +respond-to('desktop')
    +fs($fz: $f-ms)
  +respond-to('desktop-lg')
    +fs($fz: $f-m)
.article-caption
  +fs($fz: $fm-s, $fm: '微軟正黑體', $lh: 2.5)
  letter-spacing: 3px
  +respond-to('desktop')
    +fs($fz: $f-xs, $lh: 1.8)
  +respond-to('desktop-lg')
    +fs($fz: $f-s)

.none
  display: none

// .btn-goBottom
//   display: block
//   +size($w: 46px, $h: 46px)

// ==========================
//   Animation
// ==========================
@keyframes ani-mask-plus-in-out
  0%
    top: calc(47% - 1px)
    left: 25%
  20%
    top: calc(47% - 1px)
    left: 25%
  80%
    top: calc(44% - 1px)
    left: 33%
  100%
    top: calc(44% - 1px)
    left: 33%

@keyframes ani-mask-in-out
  0%
    top: calc(55% + 2px)
    left: 14%
  20%
    top: calc(55% + 2px)
    left: 14%
  80%
    top: calc(41% + 2px)
    left: 31%
  100%
    top: calc(41% + 2px)
    left: 31%

@keyframes ani-fade-in-out
  0%
    opacity: 0
    transform: scale(.8)
  50%
    opacity: 1
    transform: scale(1.2)
  100%
    opacity: 0
    transform: scale(.8)

@keyframes loop-breath-white
  0%
    width: 0
  100%
    width: 42%
@keyframes loop-breath-blue
  0%
    width: 0
  100%
    width: 45%
@keyframes loop-breath-height
  0%
    height: 0
  100%
    height: 85%



// Table
.quiz-window
  +pos($p: relative)
  max-width: 900px
  margin: auto
  border-radius: 4px
  background: #fff
  overflow: hidden

.quiz-window-header
  padding: 30px 15px
  text-align: center
  position: relative

.quiz-window-title
  font-size: 26px
  +respond-to('tablet')
    font-size: 38px
.quiz-window-body
  background-color: #f9f9f9
.guiz-awards-row
  margin: 0
  padding: 0
  list-style: none
  display: flex
  align-items: center
  +respond-to('tablet')
    padding: 0 40px
  &::after
    content: ''
    display: table
    clear: both

.guiz-awards-row-even
  background-color: #fff

.guiz-awards-row li
  +pos($p: relative)
  display: flex
  align-items: center
  justify-content: center
  width: calc(100% / 3)
  text-align: center
  font-size: 12px
  line-height: 1.5
  height: auto
  padding: 40px 0
  +respond-to('tablet')
    height: 150px
    padding: 0
    font-size: 20px
  &.has-topBorder
    border-top: 3px solid #ffc400
  &.has-bottomBorder
    border-bottom: 3px solid #ffc400
  &:nth-child(2)
    border-left: 3px solid #ffc400
    border-right: 3px solid #ffc400

.guiz-awards-header
  text-align: center
  padding: 0
  display: flex
  justify-content: space-between
  +respond-to('tablet')
    padding: 0 40px
  li
    font-size: 16px
    +respond-to('tablet')
      font-size: 26px


.guiz-awards-time
  &.align--left.align--left
    text-align: left
    padding: 0 0 0 10px
    font-size: 12px
    +respond-to('tablet')
      padding: 0 0 0 40px
      font-size: 18px

.guiz-awards-header-title
  width: calc(100% / 3)
  text-align: center

.guiz-awards-header-track
  font-weight: bold
.img-crown
  position: absolute
  width: 26px
  transform: rotate(19deg)
  right: 0
  top: 8px
  fill: #75C7CC
  +respond-to('tablet')
    top: -2px
    width: 46px
