<div class="wrapper" id="WRAPPER">
  <app-header></app-header>
  <!-- banner -->
  <section class="section section--banner">
    <div class="banner section-containter">
      <div class="slogan">
        <div class="slogan-flex">
          <h1 class="slogan-title">好加在<span class="slogan-title-span">口罩框</span></h1>
          <h2 class="slogan-maskPlus">MASK+</h2>
          <h4 class="slogan-caption">創造更舒適的呼吸空間</h4>
          <button class="btn-buy" (click)="move('buy--footer')">立即訂購</button>
          <a class="btn-buy buy--shopee" href="https://bit.ly/3rinORS" target="_blank">蝦皮新賣場</a>
        </div>
      </div>
      <div class="model">
        <img *ngIf="isSupportWebp" src="assets/img/webp/img_banner_model.webp" alt="MIT MASK+ 好加在 口罩架" class="img-model">
        <img *ngIf="!isSupportWebp" src="assets/img/img_banner_model.png" alt="MIT MASK+ 好加在 口罩架" class="img-model">
      </div>
    </div>
  </section>

  <!-- problem -->
  <section class="section section--problem">
    <h2 class="problemText">整天戴口罩<br>您是否也有這種困擾?</h2>
    <div class="problem section-containter">
      <div class="problem-col">
        <p class="problem-title">氣悶</p>
        <img *ngIf="isSupportWebp" src="assets/img/webp/img_bad_1.webp" alt="" class="img-problem problem--1">
        <img *ngIf="!isSupportWebp" src="assets/img/img_bad_1.png" alt="" class="img-problem problem--1">
        <p class="problem-caption caption--blue">想要好好呼吸</p>
      </div>
      <div class="problem-col">
        <div class="problem-flex">
          <div class="problem-cell">
            <p class="problem-title">痘痘</p>
            <img *ngIf="isSupportWebp" loading="lazy" src="assets/img/webp/img_bad_2.webp" alt="" class="img-problem problem--2">
            <img *ngIf="!isSupportWebp" loading="lazy" src="assets/img/img_bad_2.png" alt="" class="img-problem problem--2">
          </div>
          <div class="problem-cell">
            <p class="problem-title">脫妝</p>
            <img *ngIf="isSupportWebp" loading="lazy" src="assets/img/webp/img_bad_3.webp" alt="" class="img-problem problem--3">
            <img *ngIf="!isSupportWebp" loading="lazy" src="assets/img/img_bad_3.png" alt="" class="img-problem problem--3">
          </div>
        </div>
        <p class="problem-caption caption--pink">不希望口罩黏著臉</p>
      </div>
    </div>
  </section>

  <!-- operation video -->
  <section class="section section--operation-video">
    <h2 class="video-mainTitle">實戴影片</h2>
    <div class="video-iframe section-containter">
      <iframe src="https://www.youtube.com/embed/fMbtTZpACjI?&showinfo=0&list=PLHiZywH7GGJzYMzeU2fNuecsprv8PSGFy&rel=0&modestbranding=0&autohide=0" frameborder="0" allow="accelerometer; autoplay;"></iframe>
    </div>
  </section>

  <!-- attention -->
  <!-- <section class="section section--attention">
    <div class="attention section-containter">
      <h1 class="attention-title">
        致認真戴口罩<br>
        守護健康的您
      </h1>
      <p class="attention-subTitle">好家在有好加在，戴口罩更輕鬆自在</p>
      <p class="attention-caption">疫情、空汙、過敏、通勤、開會、上班上課，每天都要戴口罩的您，謝謝各位守護自己的健康。
        呼吸至關重要，好加在增加口罩呼吸空間，不只讓呼吸順暢頭腦清晰，口罩帶來的面部痘痘與脫妝問題也一併解決。<br><br>
        戴在臉上的產品我們更小心翼翼，使用的材質不只有彈性、不破碎、食品級無毒無味，更通過SGS的抗菌標準，才放心讓消費者使用。
        MASK+好加在為您的口罩空間升級，安全有保障
      </p>
    </div>
  </section> -->

  <!-- skeleton -->
  <section class="section section--skeleton" #specSpaceEl>
    <div class="skeleton section-containter">
      <article class="article">
        <h2 class="article-title">什麼是好加在口罩框?</h2>
        <p class="article-subTitle">輕巧結構，完整立體支撐</p>
        <p class="article-caption">只要將口罩後方安裝MASK+口罩撐架，就能將口罩空間大幅釋放，呼吸更順暢，呼吸再也不侷促</p>
      </article>
      <div class="space" [class.is-play]="aniConfig.specSpaceEl">
        <img *ngIf="isSupportWebp" loading="lazy" src="assets/img/webp/img_space_bg.webp" alt="MIT MASK+ 好加在 口罩架 透氣" class="img-space">
        <img *ngIf="!isSupportWebp" loading="lazy" src="assets/img/img_space_bg.png" alt="MIT MASK+ 好加在 口罩架 透氣" class="img-space">
      </div>
    </div>
  </section>

  <!-- nosepad -->
  <section class="section section--nosepad" #specBreathEl>
    <div class="nosepad section-containter">
      <div class="breath" [class.is-play]="aniConfig.specBreathEl">
        <div class="img-airflow img--airflow"></div>
        <img *ngIf="isSupportWebp" loading="lazy" src="assets/img/webp/img_breath.webp" alt="MIT MASK+ 好加在 口罩架 透氣" class="img-breath">
        <img *ngIf="!isSupportWebp" loading="lazy" src="assets/img/img_breath.jpg" alt="MIT MASK+ 好加在 口罩架 透氣" class="img-breath">
      </div>
      <article class="article article--dark article--right">
        <h2 class="article-title">阻霧氣鼻墊設計</h2>
        <p class="article-subTitle">眼鏡不易起霧</p>
        <p class="article-caption">專利鼻墊能有效阻擋往上衝的呼氣，達到眼鏡不容易起霧的效果，彈性材質讓鼻子舒適，口罩不貼臉</p>
      </article>
    </div>
  </section>

  <!-- feature -->
  <section class="section section--feature">
    <div class="feature section-containter">
      <div class="feature-col">
        <div class="pitta">
          <!-- <img loading="lazy" src="assets/video/gif_pitts.gif" alt="" class="img-feature img-pitta"> -->
          <video #vidPitts autoplay loop muted playsinline class="img-feature img-pitta">
            <source src="assets/video/gif_pitts.mp4" type="video/mp4">
          </video>
        </div>
        <div class="feature-text">
          <h1 class="feature-title">平面/立體口罩皆適用</h1>
          <p class="feature-caption">可在各種口罩輕鬆撐開舒適的呼吸空間，立體口罩不一定比較好呼吸，好加在除了撐開空間，吸氣時不會讓布料回堵口鼻，提升呼吸效果。</p>
        </div>
      </div>
      <div class="feature-col">
        <div class="flexible">
          <video #vidSmash autoplay loop muted playsinline class="img-feature img-smash">
            <source src="assets/video/gif_smash.mp4" type="video/mp4">
          </video>
        </div>
        <div class="feature-text">
          <h1 class="feature-title">彈性材質</h1>
          <p class="feature-caption">受衝擊不會破碎，也不傷人，在一定時間內可回復原本形狀，因此也可以摺疊收納，材質親膚舒適。</p>
        </div>
      </div>
      <div class="feature-col">
        <div class="clean">
          <video #vidClean autoplay loop muted playsinline class="img-feature img-clean">
            <source src="assets/video/gif_clean.mp4" type="video/mp4">
          </video>
        </div>
        <div class="feature-text">
          <h1 class="feature-title">易清潔</h1>
          <p class="feature-caption">回家摘下口罩洗手時，可以順便拿下好加在口罩撐架做好清潔，來回搓洗，蔭乾及可重複使用，清洗亦不會造成抗菌效果減弱。</p>
        </div>
      </div>
    </div>
  </section>

  <!-- fold -->
  <section class="section section--fold">
    <div class="fold section-containter">
      <div class="fold-pic">
        <img *ngIf="isSupportWebp" loading="lazy" src="assets/img/webp/img_product_7_fold.webp" alt="MIT MASK+ 好加在 口罩架 可折疊" class="img-fold">
        <img *ngIf="!isSupportWebp" loading="lazy" src="assets/img/img_product_7_fold.jpg" alt="MIT MASK+ 好加在 口罩架 可折疊" class="img-fold">
      </div>
      <article class="article article--dark article--right">
        <h2 class="article-title">可折疊</h2>
        <p class="article-subTitle">隨身攜帶好方便</p>
        <p class="article-caption">材質彈性可以折疊，隨口罩收納在口袋夾，或獨立收折在包包、外套口袋、書包小內袋，彈性材質不破碎，輕鬆使用無負擔</p>
      </article>
    </div>
  </section>

  <!-- lighten -->
  <section class="section section--lighten">
    <div class="lighten section-containter">
      <div class="lighten-pic">
        <img *ngIf="isSupportWebp" loading="lazy" src="assets/img/webp/img_lighten.webp" alt="MIT MASK+ 好加在 口罩架 輕量" class="img-lighten">
        <img *ngIf="!isSupportWebp" loading="lazy" src="assets/img/img_lighten.png" alt="MIT MASK+ 好加在 口罩架 輕量" class="img-lighten">
      </div>
      <article class="article">
        <h2 class="article-title">輕量化設計</h2>
        <p class="article-subTitle">等同一匙咖啡豆重量</p>
        <p class="article-caption">優良的設計，在最輕巧的重量下保持最穩定的結構，好加在口罩框的重量僅 10g，結構穩固且輕巧。</p>
      </article>
    </div>
  </section>

  <!-- install -->
  <section class="section section--install">
    <h2 class="installText">快速配戴</h2>
    <div class="install section-containter">
      <div class="install-col">
        <div class="install-pic">
          <img *ngIf="isSupportWebp" loading="lazy" src="assets/img/webp/img_step_1.webp" alt="" class="img-install">
          <img *ngIf="!isSupportWebp" loading="lazy" src="assets/img/img_step_1.jpg" alt="" class="img-install">
        </div>
        <div class="install-text">
          <h1 class="install-title">1拉</h1>
          <p class="install-caption">口罩繩上端進入鉤環</p>
        </div>
      </div>
      <div class="install-col">
        <div class="step-pic">
          <img *ngIf="isSupportWebp" loading="lazy" src="assets/img/webp/img_step_2.webp" alt="" class="img-step">
          <img *ngIf="!isSupportWebp" loading="lazy" src="assets/img/img_step_2.jpg" alt="" class="img-step">
        </div>
        <div class="install-text">
          <h1 class="install-title">2勾</h1>
          <img loading="lazy" src="assets/img/img_step_2_1.svg" alt="" class="img-step-2-inside">
          <p class="install-caption">兩側掛鉤塞入口罩內側<br>中間的摺痕<br>口罩不分離，使用才安心</p>
        </div>
      </div>
      <div class="install-col">
        <div class="step-pic">
          <img *ngIf="isSupportWebp" loading="lazy" src="assets/img/webp/img_step_3.webp" alt="" class="img-step">
          <img *ngIf="!isSupportWebp" loading="lazy" src="assets/img/img_step_3.jpg" alt="" class="img-step">
        </div>
        <div class="install-text">
          <h1 class="install-title">3戴上</h1>
          <p class="install-caption">壓出鼻型，拉開口罩</p>
        </div>
      </div>
    </div>
  </section>

  <!-- video -->
  <section class="section section--video">
    <h2 class="video-mainTitle">配戴影片</h2>
    <div class="video-iframe section-containter">
      <iframe #video3El src="https://www.youtube.com/embed/_NrkY2CBkFw?&showinfo=0&list=PLHiZywH7GGJzYMzeU2fNuecsprv8PSGFy&rel=0&modestbranding=0&autohide=0" frameborder="0" allow="accelerometer; autoplay;"></iframe>
    </div>
  </section>

  <!-- feedback -->
  <section class="section section--feedback">
    <div class="feedback section-containter">
      <article class="article">
        <h2 class="article-title">～蝦皮買家好評回饋～</h2>
        <div class="feedback-column" *ngIf="isSupportWebp">
          <img loading="lazy" src="assets/img/img_feedback_0.webp" alt="" class="img-feedback">
          <img loading="lazy" src="assets/img/img_feedback_1.webp" alt="" class="img-feedback">
          <img loading="lazy" src="assets/img/img_feedback_2.webp" alt="" class="img-feedback">
          <img loading="lazy" src="assets/img/img_feedback_3.webp" alt="" class="img-feedback">
        </div>
        <div class="feedback-column" *ngIf="isSupportWebp">
          <img loading="lazy" src="assets/img/img_feedback_4.webp" alt="" class="img-feedback">
          <img loading="lazy" src="assets/img/img_feedback_5.webp" alt="" class="img-feedback">
          <img loading="lazy" src="assets/img/img_feedback_6.webp" alt="" class="img-feedback">
          <img loading="lazy" src="assets/img/img_feedback_7.webp" alt="" class="img-feedback">
        </div>
        <div class="feedback-column" *ngIf="!isSupportWebp">
          <img loading="lazy" src="assets/img/img_feedback_0.png" alt="" class="img-feedback">
          <img loading="lazy" src="assets/img/img_feedback_1.png" alt="" class="img-feedback">
          <img loading="lazy" src="assets/img/img_feedback_2.png" alt="" class="img-feedback">
          <img loading="lazy" src="assets/img/img_feedback_3.png" alt="" class="img-feedback">
        </div>
        <div class="feedback-column" *ngIf="!isSupportWebp">
          <img loading="lazy" src="assets/img/img_feedback_4.png" alt="" class="img-feedback">
          <img loading="lazy" src="assets/img/img_feedback_5.png" alt="" class="img-feedback">
          <img loading="lazy" src="assets/img/img_feedback_6.png" alt="" class="img-feedback">
          <img loading="lazy" src="assets/img/img_feedback_7.png" alt="" class="img-feedback">
        </div>
      </article>
    </div>
  </section>

  <!-- sgs -->
  <section class="section section--sgs">
    <div class="sgs section-containter">
      <article class="article">
        <h2 class="article-title">SGS檢驗合格</h2>
        <p class="article-subTitle">銀離子抗菌，品質最安心</p>
        <div class="article-caption">
          <ol class="sgs-list">
            <li class="sgs-item">指定採用銀離子抗菌成份，抗菌材料不揮發，抗菌效果持久</li>
            <li class="sgs-item">不產生抗藥性，也對於抗藥性細菌具抑制效果，洗滌或擦拭依然保持良好抗菌效果</li>
            <li class="sgs-item">具美國、歐洲及日本國家級安全性認證，材料安全可靠</li>
            <li class="sgs-item">出具報告顯示黃金葡萄球菌抗菌值(R)>3.9，大腸桿菌(R)>6.05，合格R值>2表示確實有抗菌效果</li>
          </ol>
        </div>
      </article>
      <div class="reportSGS">
        <img *ngIf="isSupportWebp" loading="lazy" src="assets/img/webp/img_sgs.webp" alt="" class="img-report-sgs">
        <img *ngIf="!isSupportWebp" loading="lazy" src="assets/img/img_sgs.jpg" alt="" class="img-report-sgs">
      </div>
    </div>
  </section>

  <!-- mit -->
  <section class="section section--mit">
    <div class="mit section-containter">
      <article class="article">
        <h2 class="article-title">台灣製造<br>SGS檢驗合格<br>品質保證</h2>
        <p class="article-caption">好家在有好加在，戴口罩更輕鬆自在</p>
      </article>
    </div>
  </section>

  <!-- compare table -->
  <div class="section">
    <div class="quiz-window">
      <div class="quiz-window-header">
        <div class="quiz-window-title">為何選擇好加在口罩框？</div>
      </div>
      <div class="quiz-window-body">
        <div class="gui-window-awards">
          <ul class="guiz-awards-row guiz-awards-header">
            <li class="guiz-awards-header-title">特點</li>
            <li class="guiz-awards-header-track track--maskplus has-topBorder">MASK+ 口罩框</li>
            <li class="guiz-awards-header-time">一般口罩架</li>
          </ul>
          <ul class="guiz-awards-row guiz-awards-row-even">
            <li class="guiz-awards-title">呼吸空間
            </li>
            <li class="guiz-awards-track">立體鼻墊設計<br>撐出 70% 空間<svg class="img-crown" viewBox="0 0 640 512"><path d="M528 448H112c-8.8 0-16 7.2-16 16v32c0 8.8 7.2 16 16 16h416c8.8 0 16-7.2 16-16v-32c0-8.8-7.2-16-16-16zm64-320c-26.5 0-48 21.5-48 48 0 7.1 1.6 13.7 4.4 19.8L476 239.2c-15.4 9.2-35.3 4-44.2-11.6L350.3 85C361 76.2 368 63 368 48c0-26.5-21.5-48-48-48s-48 21.5-48 48c0 15 7 28.2 17.7 37l-81.5 142.6c-8.9 15.6-28.9 20.8-44.2 11.6l-72.3-43.4c2.7-6 4.4-12.7 4.4-19.8 0-26.5-21.5-48-48-48S0 149.5 0 176s21.5 48 48 48c2.6 0 5.2-.4 7.7-.8L128 416h384l72.3-192.8c2.5.4 5.1.8 7.7.8 26.5 0 48-21.5 48-48s-21.5-48-48-48z"></path></svg></li>
            <li class="guiz-awards-time">較扁平<br>貼近臉部</li>
          </ul>
          <ul class="guiz-awards-row">
            <li class="guiz-awards-title">材質安全性
            </li>
            <li class="guiz-awards-track">通過SGS抗菌認證<br>含抗菌銀離子<br>食品級無毒PE<svg class="img-crown" viewBox="0 0 640 512"><path d="M528 448H112c-8.8 0-16 7.2-16 16v32c0 8.8 7.2 16 16 16h416c8.8 0 16-7.2 16-16v-32c0-8.8-7.2-16-16-16zm64-320c-26.5 0-48 21.5-48 48 0 7.1 1.6 13.7 4.4 19.8L476 239.2c-15.4 9.2-35.3 4-44.2-11.6L350.3 85C361 76.2 368 63 368 48c0-26.5-21.5-48-48-48s-48 21.5-48 48c0 15 7 28.2 17.7 37l-81.5 142.6c-8.9 15.6-28.9 20.8-44.2 11.6l-72.3-43.4c2.7-6 4.4-12.7 4.4-19.8 0-26.5-21.5-48-48-48S0 149.5 0 176s21.5 48 48 48c2.6 0 5.2-.4 7.7-.8L128 416h384l72.3-192.8c2.5.4 5.1.8 7.7.8 26.5 0 48-21.5 48-48s-21.5-48-48-48z"></path></svg></li>
            <li class="guiz-awards-time align--left">佩戴舒適度：<br>PP材質：脆，硬，彈性不佳，舒適感不佳<br>矽膠材質：軟，支撐力不佳，親膚性不足</li>
          </ul>
          <ul class="guiz-awards-row guiz-awards-row-even">
            <li class="guiz-awards-title">附加功能
            <li class="guiz-awards-track">特殊鼻墊<br>有效阻隔熱氣上升<svg class="img-crown" viewBox="0 0 640 512"><path d="M528 448H112c-8.8 0-16 7.2-16 16v32c0 8.8 7.2 16 16 16h416c8.8 0 16-7.2 16-16v-32c0-8.8-7.2-16-16-16zm64-320c-26.5 0-48 21.5-48 48 0 7.1 1.6 13.7 4.4 19.8L476 239.2c-15.4 9.2-35.3 4-44.2-11.6L350.3 85C361 76.2 368 63 368 48c0-26.5-21.5-48-48-48s-48 21.5-48 48c0 15 7 28.2 17.7 37l-81.5 142.6c-8.9 15.6-28.9 20.8-44.2 11.6l-72.3-43.4c2.7-6 4.4-12.7 4.4-19.8 0-26.5-21.5-48-48-48S0 149.5 0 176s21.5 48 48 48c2.6 0 5.2-.4 7.7-.8L128 416h384l72.3-192.8c2.5.4 5.1.8 7.7.8 26.5 0 48-21.5 48-48s-21.5-48-48-48z"></path></svg></li>
            <li class="guiz-awards-time">未阻絕熱氣上升設計</li>
          </ul>
          <ul class="guiz-awards-row">
            <li class="guiz-awards-title">收納方式
            <li class="guiz-awards-track has-bottomBorder">可折疊收納<svg class="img-crown" viewBox="0 0 640 512"><path d="M528 448H112c-8.8 0-16 7.2-16 16v32c0 8.8 7.2 16 16 16h416c8.8 0 16-7.2 16-16v-32c0-8.8-7.2-16-16-16zm64-320c-26.5 0-48 21.5-48 48 0 7.1 1.6 13.7 4.4 19.8L476 239.2c-15.4 9.2-35.3 4-44.2-11.6L350.3 85C361 76.2 368 63 368 48c0-26.5-21.5-48-48-48s-48 21.5-48 48c0 15 7 28.2 17.7 37l-81.5 142.6c-8.9 15.6-28.9 20.8-44.2 11.6l-72.3-43.4c2.7-6 4.4-12.7 4.4-19.8 0-26.5-21.5-48-48-48S0 149.5 0 176s21.5 48 48 48c2.6 0 5.2-.4 7.7-.8L128 416h384l72.3-192.8c2.5.4 5.1.8 7.7.8 26.5 0 48-21.5 48-48s-21.5-48-48-48z"></path></svg></li>
            <li class="guiz-awards-time">未考慮收納方式</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- buy -->
  <section class="section section--buy">
    <div class="buy section-containter">
      <div class="buy-gallery">
        <figure class="buy-gallery-figure">
          <img  *ngIf="isSupportWebp" loading="lazy" [src]="currentWebpGalleryImg" alt="" class="img-buy">
          <img  *ngIf="!isSupportWebp" loading="lazy" [src]="currentGalleryImg" alt="" class="img-buy">
        </figure>
        <div class="buy-thumbnail flex">
          <ng-container *ngIf="isSupportWebp; else galleryTemp">
            <div
              *ngFor="let imgUrl of webPgallery"
              class="thumbnail"
              [class.is-active]="currentWebpGalleryImg === imgUrl"
              (click)="changeWebpImg(imgUrl)">
              <img loading="lazy" [src]="imgUrl">
            </div>
          </ng-container>
          <ng-template #galleryTemp>
            <div
              *ngFor="let imgUrl of gallery"
              class="thumbnail"
              [class.is-active]="currentGalleryImg === imgUrl"
              (click)="changeImg(imgUrl)">
              <img loading="lazy" [src]="imgUrl">
            </div>
          </ng-template>
        </div>
      </div>
      <div class="buy-detail">
        <h2 class="buy-title"><b class="buy-title-maskplus">MASK+</b> 口罩框</h2>
        <p class="buy-subTitle">台灣製造，台灣設計，100%安心</p>
        <p class="buy-caption">
          銀離子抗菌成份，對細菌有抑制效果，具美國、歐洲及日本國家級安全性認證。<br><br>
          透氣、眼鏡不起霧、不掉妝、安裝簡易、攜帶方便，適合每天需配戴口罩的你/妳<br><br>

          顏色：霧面半透明白<br>
          材質：食品級無毒PE，含抗菌銀離子
        </p>
        <!-- <div class="buy-amount">$90/入</div><br> -->
        <div class="buy-freeShipping">**滿6個免運優惠中**</div>
        <br>
        <div class="buy-freeShipping">**滿10個即贈送【獨立包裝雙鋼印台灣製口罩】一盒<span class="freeShipping-caption"> (市價300元/一盒共20片)</span>**</div>
        <!-- <ng-container *ngIf="timestamp >= 0 && timestamp <= 259200; else elseTemp">
          <p class="buy-countDown">
            <b class="countDown-title">限時優惠: </b>
            <span class="countDown">{{countDown.days}}</span> 日
            <span class="countDown">{{countDown.hours}}</span> 時
            <span class="countDown">{{countDown.minutes}}</span> 分
            <span class="countDown">{{countDown.seconds}}</span> 秒
          </p>
        </ng-container>
        <ng-template #elseTemp>
          <p class="buy-countDown">
            <b class="countDown-title">優惠期間: </b>
            <span class="countDown-date">3/2 - 3/8</span>
          </p>
        </ng-template> -->
        <a (click)="checkout(priceList[0].url)" class="buy-checkout checkout--one" target="_blank">$199/入 立即購買</a>
        <a id="checkout" (click)="checkout(priceList[1].url)" class="buy-checkout checkout--ten" target="_blank">$1399/10入 立即購買</a>
        <a class="buy-checkout btn-buy buy--shopee buy--footer" href="https://bit.ly/3rinORS" target="_blank">蝦皮新賣場</a>
      </div>
    </div>
  </section>
  <button class="btn-quickBuy" [class.is-show]="hasQuickBuy" (click)="move('buy--footer')">立即訂購</button>
  <app-footer></app-footer>
</div>
<!-- <button class="btn-goBottom" (click)="scrollToBottom">直接<br>購買</button> -->