<img src="assets/img/img_blog_content_1.png" alt="">
<h1 class="page-title">不同臉型 MASK+ 口罩架配戴使用說明</h1>
<div class="page-body">
  <figure>
    <img src="assets/img/img_blog_content_1_0.jpg" alt="" class="img-content">
    <caption>一樣的口罩大小，密合度本來就因人而異</caption>
  </figure>
  <p id="21fd3d8d-ff8a-4a16-b631-203d66cbaba3" class="">
    我們客觀認為，口罩的防護效果在於保護口鼻的前擋布料，所以在這樣的架構來看，我們設計的 MASK+ 好加在的概念，是將口罩空間往前釋放增加呼吸空間，阻擋布料被吸氣往回堵，因此在周圍的設計我們還是維持原本口罩該有的防疫效果，還有更好的改良，
  </p>
  <iframe class="video-iframe" src="https://www.youtube.com/embed/0Jnw1TZ0V6A?&showinfo=0&playlist=PLlG3w86pLPNJIFzcg6dRQHJZK2TY_foyE&rel=0&modestbranding=0&autohide=0" frameborder="0" allow="accelerometer; autoplay;"></iframe>
  <figure>
    <img src="assets/img/img_blog_content_1_2.jpg" alt="" class="img-content">
  </figure>
  <p>使用 MASK+ 在生活防疫上優於一般口罩的效果，並且比起因為長時間配戴時不時就要把鼻子露出口罩的人，使用口罩架的防疫效果好多了。</p>
  <p id="d1cb2625-3eb2-4612-90df-5cd3bd787802" class="">MASK+ 好加在口罩架還加入抗菌的材質，如此若臉上有痘痘傷口，也可以抵抗惡菌，可以降低其他感染的風險。每天回到家記得洗手，一起順手清洗口罩架，以確保防疫無虞。</p>
  <p id="11a9cf0a-1693-47a7-8afe-ad0197522da0" class="">因此使用MASK+好加在永遠是口罩的最佳夥伴。</p>
</div>

<span class="btn-back" (click)="goBack()">< 回上一頁</span>