<div class="wrapper" id="WRAPPER">
  <app-header></app-header>
  <!-- banner 口罩架形象 -->
  <section class="section section--banner">
    <div class="content content--banner">
      <div class="row row--banner">
        <div class="leaf leaf--3"></div>
        <h1 class="title title-h1">
          <img src="assets/img/air_mask/img_logo.png" alt="MASK+ 第二代空氣架">
        </h1>
        <!-- <h1 class="title title-h1 title--maskplus">MASK+</h1>
        <h1 class="title title-h1">第二代空氣架</h1> -->
        <div class="banner-caption caption--desktop">創造更舒適的呼吸空間</div>
      </div>
      <div class="row row--banner">
        <div class="leaf leaf--2"></div>
        <img src="assets/img/air_mask/img_bracket.png" alt="" class="img-bracket">
        <div class="banner-caption caption--mobile">創造更舒適的呼吸空間</div>
        <div class="leaf leaf--1"></div>
      </div>
    </div>
    <button class="btn-buy gtmQuickBuy" (click)="move('buy--footer')">立即訂購</button>
  </section>
  <!-- promo 影片 -->
  <section class="section section--promo" #promoEl>
    <div class="content content--promo">
      <div class="video-iframe">
        <iframe src="https://www.youtube.com/embed/clrx4sgXCgQ?&showinfo=0&list=PLHiZywH7GGJwbGj0rrKBrlG8P8fCz8zK6&rel=0&modestbranding=0&autohide=0" frameborder="0" allow="accelerometer; autoplay;"></iframe>
      </div>
    </div>
  </section>


  <!-- model 模特 -->
  <section class="section section--model">
    <div class="content content--model">
      <div class="leaf leaf--3"></div>
      <div class="row row--model">
        <h2 class="title title-h2 title--model">
          <img
          loading="lazy"
          src="assets/img/air_mask/title/img_title_0.svg" alt="新款口罩架設計"></h2>
        <div class="caption">
          我們推出了好加在新二代空氣架<br>
          是專門解決戴口罩所產生的不適<br>
          讓長時間戴口罩的人也有舒適的呼吸空間
        </div>
      </div>
      <div class="row row--model">
      </div>
    </div>
  </section>

  <!-- problem 痛點 icon -->
  <section class="section section--problem">
    <div class="content content--problem">
      <div class="row row--problem">
        <div>
          <h2 class="title title-h2">
            <img
            loading="lazy"
            src="assets/img/air_mask/title/img_title_1.svg" alt="戴口罩的痛點"></h2>
          <div class="caption">
            太悶熱、不好呼吸以外<br>
            口罩也會造成臉部發癢<br>
            時間一久就容易掉妝還會長痘痘<br>
            眼鏡也會起霧，造成視線不佳
          </div>
        </div>
      </div>
      <div class="row row--problem">
        <div class="problem-box">
          <img loading="lazy" src="assets/img/air_mask/img_problem_1.png" alt="MIT MASK+ 好加在 口罩架" class="img-problem">
        </div>
        <div class="problem-box">
          <img loading="lazy" src="assets/img/air_mask/img_problem_2.png" alt="MIT MASK+ 好加在 口罩架" class="img-problem">
        </div>
        <div class="problem-box">
          <img loading="lazy" src="assets/img/air_mask/img_problem_3.png" alt="MIT MASK+ 好加在 口罩架" class="img-problem">
        </div>
      </div>
    </div>
  </section>

  <!-- f1-nature 自然支撐工法 -->
  <section class="section section--f1-nature">
    <div class="content content--feature f1-nature content--alignCenter">
      <div class="row row--f1">
        <div class="f1-videoBox">
          <video #vidSupport autoplay loop muted playsinline class="vid-support">
            <source src="assets/video/gif_support.mp4" type="video/mp4">
          </video>
        </div>
      </div>
      <div class="row row--f1">
        <div>
          <h2 class="title title-h2">
            <img
            loading="lazy" src="assets/img/air_mask/title/img_title_2.svg" alt="自然支撐工學"></h2>
          <div class="caption">
            就像撐帳篷一樣<br>
            空氣架的設計妙處在於<br>
            底部兩側的支點可撐起一個空間<br>
            讓嘴巴隔開口罩
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- f2-nose 不限鼻型 -->
  <section class="section section--f2-nose">
    <div class="content content--feature f2-nose content--alignCenter">
      <div class="row row--f2">
        <div>
          <h2 class="title title-h2">
            <img
            loading="lazy" src="assets/img/air_mask/title/img_title_3.svg" alt="小巧鼻 英挺鼻 都好戴">
            </h2>
          <div class="caption">
            經過第一代好加在口罩框的使用者回饋<br>
            我們研究出一款不限臉型、鼻型的完美造型
          </div>
        </div>
      </div>
      <div class="row row--f2">
        <div class="img-f2-face"></div>
      </div>
    </div>
  </section>

  <!-- f3-light 輕巧 -->
  <section class="section section--f3-light">
    <div class="content content--feature f3-light content--alignCenter">
      <div class="row row--f3">
        <img loading="lazy" src="assets/img/air_mask/img_f3_lightWeight.png" alt="MIT MASK+ 好加在 口罩架" class="img-lightWeight">
      </div>
      <div class="row row--f3">
        <div>
          <h2 class="title title-h2">
            <img
            loading="lazy" src="assets/img/air_mask/title/img_title_4.svg" alt="超輕巧 無壓痕">
          </h2>
          <div class="caption">
            不到 5g 重的好加在空氣架<br>
            配戴舒適、肌膚享受超無感體驗
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- f4-wash 可水洗 -->
  <section class="section section--f4-wash">
    <div class="content f4-wash content--alignCenter">
      <div class="row row--f4">
        <div>
          <h2 class="title title-h2">
            <img
            loading="lazy"
            src="assets/img/air_mask/title/img_title_5.svg" alt="簡潔造型 好水洗">
          </h2>
          <div class="caption">
            一筆完成的弧線設計<br>
            沒有難洗的邊邊角角
          </div>
        </div>
      </div>
      <!-- <div class="row row--f4">
        <img src="assets/img/air_mask/webp/img_banner_model.webp" alt="MIT MASK+ 好加在 口罩架" class="img-model">
      </div> -->
    </div>
  </section>

  <!-- videos 布口罩|彈力影片 -->
  <section class="section section--videos">
    <div class="content content--videos">
      <div class="row row--videos">
        <h2 class="title title-h2">
          <img
          loading="lazy"
          src="assets/img/air_mask/title/img_title_6.svg" alt="布口罩也適用">
        </h2>
        <div class="videos-box box--1">
          <div class="video-iframe">
            <video #vidPitts autoplay loop muted playsinline class="vid-support">
              <source src="assets/video/gif_breath_pitta.mp4" type="video/mp4">
            </video>
          </div>
        </div>
      </div>
      <div class="row row--videos">
        <h2 class="title title-h2 title--support title--mobile">
          <img
          loading="lazy"
          src="assets/img/air_mask/title/img_title_7.svg" alt="彈力回復支撐力超強">
        </h2>
        <div class="videos-box box--2">
          <div class="video-iframe">
            <video #vidPush autoplay loop muted playsinline class="vid-support">
              <source src="assets/video/gif_push.mp4" type="video/mp4">
            </video>
          </div>
        </div>
        <h2 class="title title-h2 title--support title--desktop">
          <img
          loading="lazy"
          src="assets/img/air_mask/title/img_title_7.svg" alt="彈力回復支撐力超強">
        </h2>
      </div>
    </div>
  </section>

  <!-- sgs 抗菌sgs -->
  <section class="section section--sgs">
    <div class="content content--sgs">
      <h2 class="title title-h2 title--mit">台灣設計 台灣製造</h2>
      <h2 class="title title-h2 title--sgs"><img src="assets/img/air_mask/title/img_title_8.svg" alt="銀離子抗菌材質 SGS檢驗認證" class="img-title-sgs"></h2>

      <div class="title-span">Photo by Fabian Wiktor</div>
    </div>
  </section>

  <!-- spec 特點 -->
  <section class="section section--spec">
    <div class="content content--spec">
      <div class="row row--spec">
        <h2 class="title title-h2">口罩架不是都一樣嗎？</h2>
        <h2 class="title title-h2">用過好的就回不去了</h2>
        <div class="caption">
          承襲第一代好加在口罩框的優點<br>
          第二代空氣架更強化了以下功能：<br><br>
          1.自然支撐不貼臉<br>
          2.不限鼻型、臉型<br><br>
          堅持台灣設計、台灣製造
        </div>
      </div>
      <div class="row row--spec">

      </div>
    </div>
  </section>

  <!-- slogan 創造舒適呼吸空間 -->
  <section class="section section--slogan">
    <div class="content content--slogan">
      <div class="row row--slogan">
        <h2 class="title title-h2">
          <img
          loading="lazy"
          src="assets/img/air_mask/title/img_title_9.svg" alt="透亮白、奶茶色 新上市！">
        </h2>
        <div class="caption">
          透亮白、奶茶色 新上市！
        </div>
      </div>
      <div class="row row--slogan">
        <img loading="lazy" src="assets/img/air_mask/img_mask_white.png" alt="MIT MASK+ 好加在 口罩架" class="img-bracket bracket--white">
        <img loading="lazy" src="assets/img/air_mask/img_mask_milktea.png" alt="MIT MASK+ 好加在 口罩架" class="img-bracket bracket--milktea">
      </div>
    </div>
  </section>

  <!-- buy -->
  <section class="section section--buy">
    <div class="buy section-containter">
      <div class="buy-gallery">
        <figure class="buy-gallery-figure">
          <!-- <img  *ngIf="isSupportWebp" loading="lazy" [src]="currentWebpGalleryImg" alt="" class="img-buy"> -->
          <img loading="lazy" [src]="currentGalleryImg" alt="" class="img-buy">
        </figure>
        <div class="buy-thumbnail flex">
          <!-- <ng-container *ngIf="isSupportWebp; else galleryTemp">
            <div
              *ngFor="let imgUrl of webPgallery"
              class="thumbnail"
              [class.is-active]="currentWebpGalleryImg === imgUrl"
              (click)="changeWebpImg(imgUrl)">
              <img loading="lazy" [src]="imgUrl">
            </div>
          </ng-container> -->
          <div
            *ngFor="let imgUrl of gallery"
            class="thumbnail"
            [class.is-active]="currentGalleryImg === imgUrl"
            (click)="changeImg(imgUrl)">
            <img loading="lazy" [src]="imgUrl">
          </div>
          <!-- <ng-template #galleryTemp>
          </ng-template> -->
        </div>
      </div>
      <div class="buy-detail">
        <h2 class="buy-title"><b class="buy-title-maskplus">MASK+</b> 第二代空氣架</h2>
        <p class="buy-subTitle">台灣製造，台灣設計，100%安心</p>
        <p class="buy-caption">
          口罩不貼臉，不限臉型、鼻型<br>超輕量，臉部零觸感體驗！<br><br>
          銀離子抗菌成份，對細菌有抑制效果，具美國、歐洲及日本國家級安全性認證。<br><br>
          顏色：透亮白 | 奶茶色<br>
          材質：食品級無毒PE，含抗菌銀離子
        </p>

        <div class="btn-official">
          <div class="info info--danger"><span class="info info--black">官網直購價:</span><b class="info info--b">$179</b>/入 **滿6入免運</div>
          <a (click)="checkout(priceList[0].url)" class="buy-checkout buy--official air-checkout--white" target="_blank">立即購買 | 透亮白</a>
          <a id="checkout" (click)="checkout(priceList[1].url)" class="buy-checkout buy--official air-checkout--milktea" target="_blank">立即購買 | 奶茶色</a>
        </div>
        <div class="btn-shopee">
          <a class="buy-checkout btn-buy checkout--shopee gtmAirShopee buy--footer" href="https://bit.ly/3rinORS" target="_blank">蝦皮新賣場</a>
          <a class="buy-checkout btn-buy checkout--pinkoi gtmAirPinkoi buy--footer" href="https://www.pinkoi.com/store/uniddesign" target="_blank">Pinkoi新上架</a>
        </div>
      </div>
    </div>
  </section>
  <button class="btn-quickBuy" [class.is-show]="hasQuickBuy" (click)="move('btn-shopee')">立即訂購</button>
  <app-footer></app-footer>
</div>