@import 'mixin'
@import 'variables'

// tablet 680
// desktop 1024
// desktop-lg 1366
// desktop-xl 1600

$f-xl: 66px
$f-l: 44px
$f-m: 32px
$f-ms: 22px
$f-s: 18px
$f-xs: 16px
$f-xss: 14px

$fm-xl: 40px
$fm-l: 32px
$fm-m: 18px
$fm-s: 14px


// ==========================
//   Scaffolding
// ==========================

.wrapper
  +size($w: 100%, $h: 100%)
  min-height: 100%
  background-color: #dadada

.section
  +pos($p: relative)
  +size($w: 100%, $h: 100%)
  // border-bottom: 1px solid #444
  background-color: #f0f0f0
  min-height: 750px
  +respond-to('desktop')
    min-height: 1200px
  &.section--banner
    +size($h: calc(100% - 115px))
    background-color: #dadada
    min-height: 500px
    +respond-to('tablet')
      min-height: 750px
    &::after
      content: ''
      +pos($p: absolute, $b: 0)
      background-image: url(/assets/img/air_mask/wave_1_up.svg)
      +size($w: 100%, $h: 262px)
      z-index: 0
  &.section--problem
    +size($h: auto)
  &.section--promo
    +size($h: auto)
    padding-top: 30%
    min-height: 500px
    +respond-to('tablet')
      +size($h: 100%)
      padding-top: 0
      min-height: 750px
  &.section--model
    +size($h: 400px)
    min-height: 400px
  &.section--f1-nature
    background-color: #dadada
    &::before
      content: ''
      +pos($p: absolute, $t: -1px)
      background-image: url(/assets/img/air_mask/wave_5_down.svg)
      +size($w: 100%, $h: 152px)
      z-index: 0
  &.section--f2-nose
    &::before
      content: ''
      +pos($p: absolute, $t: -1px)
      background-image: url(/assets/img/air_mask/wave_5_down_da.svg)
      +size($w: 100%, $h: 152px)
      z-index: 0
  &.section--f3-light
    background-color: #dadada
    &::before
      content: ''
      +pos($p: absolute, $t: -1px)
      background-image: url(/assets/img/air_mask/wave_5_down.svg)
      +size($w: 100%, $h: 152px)
      z-index: 0
  &.section--f4-wash
    background-image: url('/assets/img/air_mask/img_f4_wash.jpg')
    background-size: cover
    background-repeat: no-repeat
    background-position: 80% 0
    &::before
      content: ''
      +pos($p: absolute, $t: -1px)
      background-image: url(/assets/img/air_mask/wave_5_down_da.svg)
      +size($w: 100%, $h: 152px)
      z-index: 0
    &::after
      +pos($p: absolute, $b: 0)
      +size($w: 100%, $h: 60px)
      background: linear-gradient(rgba(255,255,255,0), #f0f0f0)
      content: ''
  &.section--videos
    display: flex
    align-items: center
    background-color: #dadada
    &::before
      content: ''
      +pos($p: absolute, $t: -1px)
      background-image: url(/assets/img/air_mask/wave_5_down.svg)
      +size($w: 100%, $h: 152px)
      z-index: 0
  &.section--sgs
    background-image: url('/assets/img/air_mask/bg_mit.jpg')
    background-size: cover
    background-repeat: no-repeat
    background-position: center
    &::before
      content: ''
      +pos($p: absolute, $t: -1px)
      background-image: url(/assets/img/air_mask/wave_7_down_da.svg)
      +size($w: 100%, $h: 77px)
      z-index: 0
  &.section--spec
    background-image: url('/assets/img/air_mask/bg_specs.png')
    background-size: contain
    background-repeat: no-repeat
    background-position: 80% 100%
    &::before
      content: ''
      +pos($p: absolute, $t: -1px)
      background-image: url(/assets/img/air_mask/wave_5_down_black.svg)
      +size($w: 100%, $h: 152px)
      z-index: 0
    &::after
      content: ''
      +pos($p: absolute, $b: 0)
      background-image: url(/assets/img/air_mask/wave_4_up_da.svg)
      +size($w: 100%, $h: 124px)
      z-index: 0
  &.section--slogan
    background-color: #dadada
  &.section--buy
    +size($h: auto)
    padding: 100px 0 0
    &::before
      content: ''
      +pos($p: absolute, $t: -1px)
      background-image: url(/assets/img/air_mask/wave_7_down_da.svg)
      +size($w: 100%, $h: 77px)
      z-index: 0
    +respond-to('desktop')
      padding: 130px 0 60px
      min-height: 750px

.content
  padding: 0 10%
  margin: 0 auto
  display: flex
  &.content--alignCenter
    +size($h: 100%)
    align-items: center
  +respond-to('desktop')
    max-width: 980px
  +respond-to('desktop-lg')
    max-width: 1280px
    padding: 0 10%
  &.content--feature
    flex-flow: column nowrap
    justify-content: center
    +respond-to('tablet')
      flex-flow: row nowrap
    +respond-to('desktop-lg')
      padding: 0 6%
  &.content--banner
    +size($h: auto)
    display: flex
    flex-flow: column nowrap
    justify-content: center
    margin-top: 50px
    +respond-to('tablet')
      +size($h: 100%)
      margin-top: 0
      flex-flow: row nowrap
  &.content--promo
    display: block
    padding: 0
    +respond-to('tablet')
      padding-top: 160px
      max-width: 1200px
  &.content--model
    flex-flow: column nowrap
    .leaf--3
      +respond-to('desktop')
        +pos($l: auto, $t: -60px, $r: 120px)
        transform: scale(0.4)
  &.content--problem
    flex-flow: column nowrap
  &.content--videos
    padding: 0 2% 0
    flex-flow: column nowrap
    +respond-to('tablet')
      +size($h: 100%)
      padding-top: 0
      align-items: center
      flex-flow: row
  &.content--sgs
    +size($h: 100%)
    justify-content: center
    flex-flow: column
  &.content--spec,
  &.content--slogan
    +size($h: 100%)
    align-items: center
  &.content--slogan
    flex-flow: column
    justify-content: center
    +respond-to('desktop')
      flex-flow: row

.row
  +pos($p: relative)
  &.row--banner:first-child
    +respond-to('tablet')
      padding-top: 250px
      padding-right: 30px
      flex: 0 0 40%
  &.row--banner:last-child
    +respond-to('tablet')
        padding-top: 120px
        flex: 0 0 60%
  &.row--model:last-child
    +respond-to('tablet')
      padding-top: 60px
      display: flex
  &.row--problem:first-child
    +respond-to('tablet')
      display: flex
      justify-content: flex-end
  &.row--problem:last-child
    display: flex
    flex-flow: row wrap
    +respond-to('tablet')
      flex: 0 0 35%
      flex-flow: row nowrap
  &.row--f1:last-child
    +respond-to('tablet')
      padding-left: 10px
  &.row--f1:first-child,
  &.row--f3:first-child
    +respond-to('desktop')
      flex: 0 0 74%
      text-align: center
  &.row--f1:last-child,
  &.row--f3:last-child
    +respond-to('desktop')
      flex: 0 0 25%
      display: flex
      flex-flow: column nowrap
      align-items: center
  &.row--f2
    display: flex
    flex-flow: column nowrap
    align-items: center
    &:first-child
      order: 2
      +respond-to('tablet')
        order: 1
        flex: 0 0 45%
    &:last-child
      order: 1
      +size($w: 100%)
      +respond-to('tablet')
        order: 2
        flex: 0 0 55%
  &.row--f4:first-child
    padding-top: 400px
    +respond-to('tablet')
      flex: 0 0 75%
      display: flex
      flex-flow: column nowrap
      padding-top: 0
    +respond-to('desktop-xl')
      margin-left: -20px
  &.row--videos
    margin: 0 5px
    flex: 0 0 50%
    &:first-child
      margin-top: 100px
      +respond-to('tablet')
        margin-top: 300px
    &:last-child
      +respond-to('tablet')
        margin-top: -80px
  &.row--spec
    align-items: center
  &.row--slogan:last-child
    justify-content: center
    +size($w: 100%)

// ==========================
//   Components
// ==========================

// ====== 共用元件 Start ====== //
.title
  white-space: nowrap
  margin-bottom: 10px
  &.title--mobile
    +respond-to('desktop')
      display: none
  &.title--desktop
    display: none
    +respond-to('desktop')
      display: block
  &.title-h1
    // +size($w: 300px)
    +fs($fz: 36px)
    margin: 0 auto
    margin-bottom: 20px
    +respond-to('tablet')
      +fs($fz: 40px)
      +size($w: auto)
    img
      +size($w: 200px)
      margin: -30px auto 0
      display: block
      +respond-to('tablet')
        +size($w: 300px)
        margin: 0 auto
  &.title-h2
    +fs($fz: 30px)
    margin: 20px auto
    img
      max-width: none
      width: auto
      height: 30px
    img.img-title-sgs
      height: 100px
      margin-bottom: 30px
  &.title--support
    text-align: right
  &.title--maskplus
    +fs($fm: 'Arial')
    letter-spacing: 1px
  &.title--model
    margin-top: 70px
  &.title--mit
    +fs($c: #f0f0f0, $fz: 32px)
    margin-top: 80%
    letter-spacing: 5px
    +respond-to('tablet')
      +fs($fz: 46px)
      margin-top: 45%
      letter-spacing: 12px
  &.title--sgs
    +fs($c: #f0f0f0)
    margin-top: auto
    margin-bottom: 15%
    +respond-to('tablet')
      margin-bottom: 200px
.title-span
  color: #333
  font-size: 13px
  text-align: center

.caption
  +fs($c: #646464, $fm: '微軟正黑體', $fz: 17px, $lh: 28px)
  min-width: 300px
  +respond-to('tablet')
    letter-spacing: 2.2px
// ====== 共用元件 End ====== //

// Section banner
.banner-caption
  +fs($fw: 200, $fm: 'Arial', $fz: 18px)
  letter-spacing: 9px
  white-space: nowrap
  text-align: center
  &.caption--mobile
    padding-top: 20px
    +respond-to('desktop')
      display: none
  &.caption--desktop
    display: none
    +respond-to('desktop')
      display: block
.img-bracket
  +pos($p: relative)
  +size($w: 65%)
  z-index: 0
  margin: 10px 60px 0
  display: block

.btn-buy
  +pos($p: relative)
  +size($w: 162px)
  display: flex
  align-items: center
  justify-content: center
  margin: 24px auto 20px
  font-size: 18px
  color: #ffffff
  background: linear-gradient(to right, #d31027 0%, #ea384d 51%, #d31027 100%)
  text-align: center
  border-radius: 12px
  letter-spacing: 2px
  border: none
  padding: 12px 30px
  cursor: pointer
  min-width: 162px
  z-index: 1
  +respond-to('desktop-lg')
    +fs($fz: 22px)
    padding: 16px 30px

// Section model
.img-model
  +size($w: 65%)
  margin-left: auto

// Section problem
.problem-box
  margin: 0 20px
  &:nth-child(1)
    flex: 0 0 35%
    order: 1
    margin-top: 20px
    +respond-to('tablet')
      flex: initial
      margin-top: 0
    .img-problem
      +respond-to('tablet')
        margin-top: 60px
  &:nth-child(2)
    order: 3
    margin: 30px
    +respond-to('tablet')
      order: 2
      flex: initial
      margin: auto
    .img-problem
      +respond-to('tablet')
        margin-top: 250px
  &:nth-child(3)
    order: 2
    flex: 0 0 35%
    margin-top: 20px
    +respond-to('tablet')
      margin-top: 0
      order: 3
      flex: initial
    .img-problem
      +respond-to('tablet')
        margin-top: 120px

// Section f1
.f1-videoBox
  +pos($p: relative)
  &::before
    +pos($p: absolute)
    width: 100%
    height: 100%
    z-index: 1
    content: ''
    background-image: url('/assets/img/air_mask/img_video_mask_1.svg')
    background-size: cover
    transform: scale(1.02)
.vid-support
  +size($w: 100%)

// Section videos
.video-iframe
  text-align: center
  position: relative
  padding-bottom: 56.25%
  height: 0
  overflow: hidden
  iframe,
  object,
  embed
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
.videos-box
  +pos($p: relative)
  &.box--1::before
    +pos($p: absolute)
    width: 100%
    height: 100%
    z-index: 1
    content: ''
    background-image: url('/assets/img/air_mask/img_video_mask_3_da.svg')
    background-size: cover
    transform: scale(1.03)
  &.box--2::before
    +pos($p: absolute)
    width: 100%
    height: 100%
    z-index: 1
    content: ''
    background-image: url('/assets/img/air_mask/img_video_mask_1.svg')
    background-size: cover
    transform: scale(1.02)
.img-support
  text-align: right

// Section feature
.img-f2-face
  +size($w: 100%, $h: 0)
  padding-bottom: 100%
  background-size: cover
  animation: swapImg 3.5s linear infinite
.img-lightWeight
  +size($w: 80%)
  margin: 0 auto
  display: block
  +respond-to('desktop')
    +size($w: 65%)

// Section slogan
.img-bracket
  &.bracket--white
    +pos($p: absolute)
    +size($w: 45%)
    +respond-to('desktop')
      +size($w: 55%)
  &.bracket--milktea
    +pos($l: 120px, $t: 60px)
    +size($w: 45%)
    +respond-to('desktop')
      +size($w: 55%)

// TODO: Delete After
.btn-link
  +pos($p: absolute, $b: 30%, $l: 0, $r: 0)
  margin: auto
  display: block
  width: 300px
  height: 50px
  text-align: center
  font-size: 26px
  background: linear-gradient(-180deg,#f53d2d,#f63)
  line-height: 48px
  border-radius: 15px
  color: #f0f0f0
  +respond-to('desktop')
    +pos($b: 19%)
.text-details
  font-size: 20px
  text-align: center
  +pos($p: absolute, $b: 14%, $l: 0, $r: 0)
  line-height: 30px
  max-width: 500px
  margin: 0 auto
  +respond-to('desktop')
    +pos($b: 8%)

//  =========== Logo =========== //
.logo
  // +pos($p: absolute, $l: 4%, $t: 5%)
  +size($w: 60px)
  margin-left: 15px
  +respond-to('desktop')
    +size($w: 84px)
  // +respond-to('desktop-xl')
  //   +pos($p: absolute, $l: 13%, $t: 10%)

.nav
  // +pos($p: absolute, $r: 30px)
  margin-left: auto
  +size($w: 33%)
  padding-right: 14px
  display: none
  +respond-to('desktop')
    +size($w: 28%)
    display: block
.nav-list
  display: flex
  flex-flow: row nowrap
  justify-content: space-between
.nav-item
  display: inline-block
.nav-link
  +fs($c: #000000)
  text-decoration: none
.btn-nav
  +size($w: 44px, $h: 44px)
  display: inline-flex
  border: none
  margin-left: auto
  margin-right: 15px
  cursor: pointer
  align-items: center
  justify-content: center
  +respond-to('desktop')
    display: none
.nav-mobile
  +size($w: 100%)
  +pos($p: absolute, $t: 56px)
  background-color: #efefef
  z-index: 2
  padding: 30px 0
  .nav-link
    padding: 30px 40px
  +respond-to('desktop')
    display: none
.nav-mobile-item
  display: block
  padding: 25px
  text-align: center

// buy
.buy
  padding: 0 10% 90px
  +respond-to('desktop')
    display: flex
    flex-flow: row nowrap
    justify-content: space-evenly
    padding: 0 2%
.buy-gallery
  margin-bottom: 20px
  +respond-to('desktop')
    margin-right: 60px
    max-width: 50%
.buy-thumbnail
  +size($w: 100%)
  flex-flow: row wrap
  margin-bottom: 20px
  justify-content: flex-start
.buy-gallery-figure
  max-width: 600px
  margin-bottom: 10px
.buy-title
  +fs($fz: 26px)
  margin: 40px 0
  +respond-to('tablet')
    +fs($fz: $f-m)
  +respond-to('desktop-lg')
    +fs($fz: $f-l)
.buy-title-maskplus
  +fs($fm: 'Arial')
.buy-subTitle
  +fs($fz: $fm-m)
  letter-spacing: 1px
  +respond-to('tablet')
    +fs($fz: $f-xs)
  +respond-to('desktop-lg')
    +fs($fz: $f-m)
.buy-caption
  +fs($fz: $fm-s, $fm: '微軟正黑體', $lh: 1.8)
  letter-spacing: 1px
  +respond-to('tablet')
    +fs($fz: $f-xss)
  +respond-to('desktop-lg')
    +fs($fz: $f-s)
.thumbnail
  +pos($p: relative)
  +size($w: 60px, $h: 60px)
  margin: 0 6px 10px 0
  cursor: pointer
  display: flex
  align-items: center
  &::before
    +pos($p: absolute)
    content: ''
    background-color: rgba(255, 255, 255, .6)
    +size($w: 100%, $h: 100%)
    opacity: 1
    transition: opacity .3s ease
  &.is-active
    &::before
      opacity: 0

.buy-checkout
  font-size: 16px
  color: #f0f0f0
  letter-spacing: 1.5px
  text-align: center
  border-radius: 6px
  padding: 16px 20px
  display: block
  margin-bottom: 15px
  cursor: pointer
  +respond-to('tablet')
    display: inline-block
    font-size: 18px
    margin-right: 16px
    border-radius: 12px
  &.buy--official
    background: linear-gradient(to right, rgb(211, 16, 39) 0%, rgb(234, 56, 77) 51%, rgb(211, 16, 39) 100%)
  &.checkout--shopee
    background: linear-gradient(-180deg,#f53d2d,#f63)
  &.checkout--pinkoi
    background: linear-gradient(-180deg, #10567b, #177aaf)


.btn-official
  margin-bottom: 30px
.info
  text-align: center
  +respond-to('tablet')
    text-align: left
  &.info--danger
    +fs($c: #ed2929e8, $fz: 13px)
    padding-bottom: 12px
    +respond-to('tablet')
      padding-bottom: 16px
      +fs($fz: 16px)
  &.info--black
    +fs($c: #000000, $fz: 16px)
    margin-right: 10px
  &.info--b
    +fs($fz: 32px)

.none
  display: none

.btn-quickBuy
  +pos($p: fixed, $b: 50px)
  +size($w: 100%, $h: 44px)
  +fs($c: #ffffff)
  padding: 0
  background: linear-gradient(-180deg, #f53d2d, #f63)
  z-index: 1
  transition: transform .4s ease
  transform-origin: 0 0
  transform: translateY(100%)
  cursor: pointer
  &.is-show
    transform: translateY(0)
  +respond-to('desktop')
    display: none

// ==========================
//   Animation
// ==========================
@keyframes ani-mask-plus-in-out
  0%
    top: calc(47% - 1px)
    left: 25%
  20%
    top: calc(47% - 1px)
    left: 25%
  80%
    top: calc(44% - 1px)
    left: 33%
  100%
    top: calc(44% - 1px)
    left: 33%

@keyframes ani-mask-in-out
  0%
    top: calc(55% + 2px)
    left: 14%
  20%
    top: calc(55% + 2px)
    left: 14%
  80%
    top: calc(41% + 2px)
    left: 31%
  100%
    top: calc(41% + 2px)
    left: 31%

@keyframes ani-fade-in-out
  0%
    opacity: 0
    transform: scale(.8)
  50%
    opacity: 1
    transform: scale(1.2)
  100%
    opacity: 0
    transform: scale(.8)

@keyframes loop-breath-white
  0%
    width: 0
  100%
    width: 42%
@keyframes loop-breath-blue
  0%
    width: 0
  100%
    width: 45%
@keyframes loop-breath-height
  0%
    height: 0
  100%
    height: 85%
@keyframes swapImg
  0%
    background-image: url('/assets/img/air_mask/img_f2_face_1.png')
  25%
    background-image: url('/assets/img/air_mask/img_f2_face_1.png')
  50%
    background-image: url('/assets/img/air_mask/img_f2_face_0.png')
  75%
    background-image: url('/assets/img/air_mask/img_f2_face_0.png')
  100%
    background-image: url('/assets/img/air_mask/img_f2_face_1.png')
