
<div class="wrapper">
  <section class="section">
    <div class="blog-header">
      <app-header></app-header>
    </div>
    <div class="page">
      <ng-content></ng-content>
    </div>
  </section>
</div>

<app-footer></app-footer>