@import 'mixin'
@import 'variables'

// .section

.blog
  +pos($p: relative)
  display: flex
  min-height: 280px
  background-color: #efefef
  // padding: 1% 0 0
  +respond-to('tablet')
    min-width: 400px
    min-height: 360px
  // &::before
  //   +size($w: 100%, $h: 70px)
  //   +pos($p: absolute, $l: 0, $r: 0, $b: -5%)
  //   content: ''
  //   background: linear-gradient(rgba(255,255,255,0) 0% , #ffffff 70%)
  //   z-index: 1
  &::after
    +size($w: 100%, $h: 100%)
    +pos($p: absolute, $l: 0, $r: 0, $b: 0)
    display: block
    content: ''
    background-image: url('/assets/img/img_banner_blog.jpg')
    background-size: cover
    background-position: center 60%
    background-repeat: no-repeat

.blog-header
  +size($w: 100%)
  +pos($p: relative)

.blog-mainTitle
  +fs($fz: 28px, $c: #ffffff)
  +pos($p: absolute, $r: 12%, $b: 80px)
  letter-spacing: 2.2px
  z-index: 1
  +respond-to('tablet')
    +fs($fz: 36px)

.img-lighten
  +pos($p: absolute, $l: -60px, $r: 0, $t: 30px)
  max-width: 26%
  min-width: 300px
  margin: auto
  opacity: .6
  transform: rotate(12deg)

.blog-articleWrap
  +size($w: calc(100% - 48px))
  margin: 30px auto
  max-width: 850px
  padding: 0 0 60px

.blog-article-item
  margin-bottom: 24px
  display: flex
  justify-content: space-between
  align-items: center
  cursor: pointer

.blog-link
  flex: 0 0 70%
  cursor: pointer
  overflow: hidden

.blog-title
  +fs($fz: 16px, $lh: 1.3, $fm: 'Noto Serif TC')
  margin-bottom: 6px
  +respond-to('tablet')
    +fs($fz: 24px)

.blog-description
  +size($w: 100%)
  +fs($fz: 14px, $c: rgba(117, 117, 117, 1), $lh: 1.3, $fm: '微軟正黑體')
  text-align: left
  display: block
  margin-bottom: 8px
  padding-right: 20px
  text-overflow: ellipsis
  overflow: hidden
  white-space: nowrap
  &.description--tablet
    display: none
    +respond-to('tablet')
      display: block
      +fs($fz: 16px)

.blog-date
  +fs($fz: 13px, $c: rgba(117, 117, 117, 1),  $fm: '微軟正黑體')

.img-blog
  display: block
  +size($w: 100%)
  margin: 0 auto

