<!-- <p>blog works!</p>
<a href="blog/article/1">Article1</a> -->
<!-- <router-outlet></router-outlet> -->
<div class="wrapper">
  <section class="section">
    <div class="blog section-container">
      <header class="blog-header">
        <h2 class="blog-mainTitle">選購指南</h2>
        <app-header [place]="'blog'"></app-header>

        <!-- <img src="assets/img/img_banner_blog.jpg" alt="" class="img-lighten"> -->
      </header>

    </div>
  </section>
</div>
<div class="blog-articleWrap">
  <ul class="blog-article">
    <li class="blog-article-item" *ngFor="let blog of blog.blogList; let i = index;" (click)="goTo(blog.routerDate)">
      <a class="blog-link">
        <h2 class="blog-title">{{ blog.title }}</h2>
        <caption class="blog-description description--tablet">{{ blog.description }}</caption>
        <div class="blog-date">{{ blog.date | date: mediumDate}}</div>
      </a>
      <div class="blog-img">
        <img [src]="blog.coverImg" alt="" class="img-blog">
      </div>
    </li>
    <!-- <li class="blog-article-item">
      <a (click)="goTo(0)" class="blog-link">
        <h2 class="blog-title">愛情、事業大突破! 2021口罩開運密笈</h2>
        <caption class="blog-description description--tablet">2020大家都辛苦了喔~ (唐老師語氣)，我們台灣在防疫的成績有非常好的維持...</caption>
        <div class="blog-date">2021.04.16</div>
      </a>
      <div class="blog-img">
        <img src="assets/img/img_lighten.png" alt="" class="img-blog">
      </div>
    </li>
    <li class="blog-article-item">
      <a (click)="goTo(1)" class="blog-link">
        <h2 class="blog-title">使用口罩架會不會有防疫的疑慮?</h2>
        <caption class="blog-description description--tablet">我們客觀認為，口罩的防護效果在於保護口鼻的前擋布料，所以...</caption>
        <div class="blog-date">2021.04.16</div>
      </a>
      <div class="blog-img">
        <img loading="lazy" src="assets/img/img_bad_1.png" alt="" class="img-blog">
      </div>
    </li>
    <li class="blog-article-item">
      <a href="" class="blog-link">
        <h2 class="blog-title">愛情、事業大突破! 2021口罩開運密笈</h2>
        <caption class="blog-description description--tablet">2020大家都辛苦了喔~ (唐老師語氣)，我們台灣在防疫的成績有非常好的維持...</caption>
        <div class="blog-date">2021.04.16</div>
      </a>
      <div class="blog-img">
        <img loading="lazy" src="assets/img/img_bad_2.png" alt="" class="img-blog">
      </div>
    </li>
    <li class="blog-article-item">
      <a href="" class="blog-link">
        <h2 class="blog-title">愛情、事業大突破! 2021口罩開運密笈</h2>
        <caption class="blog-description description--tablet">2020大家都辛苦了喔~ (唐老師語氣)，我們台灣在防疫的成績有非常好的維持...</caption>
        <div class="blog-date">2021.04.16</div>
      </a>
      <div class="blog-img">
        <img loading="lazy" src="assets/img/img_bad_2.png" alt="" class="img-blog">
      </div>
    </li> -->
  </ul>
</div>
<app-footer></app-footer>